<div style="width: 680px;">
  <br><br>
    <p style="margin-top: 0px; margin-bottom: 20px; float: left">#text_greeting#</p>
    <br><br>
    <p style="margin-top: 0px; margin-bottom: 20px; float: left">#text_remider#</p>

</div>
