<table align="center" border="0" cellpadding="0" cellspacing="0" direction="rtl" width="700px">
<tbody>
<tr>
<td style="padding-bottom: 12px; padding-top: 15px;">

<table border="0" cellpadding="0" cellspacing="10" style="width: 700px;">
<tbody>
<tr>
<td colspan="2"><p align="center"><a data-cke-saved-href="https://mall.sayidaty.net" href="https://mall.sayidaty.net"><img alt="" data-cke-saved-src="https://dnc2qm9v6i95t.cloudfront.net/catalog/logo/mall-en.png" src="https://dnc2qm9v6i95t.cloudfront.net/catalog/logo/mall-en.png" width="150"></a></p>
</td>
</tr>
<tr>
<td colspan="2"><table cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
<td style="padding-bottom: 20px"><center data-parsed=""><table align="center" width="100%">
<tbody>
<tr style="background: #000; color:#fff;">
<td style="padding: 5px;" valign="middle"><table width="100%">
<tbody>
<tr>
<th align="center" style="text-align: center;" width="25%"><span style="font-weight: bold;"><span style="font-weight: normal;"><a data-cke-saved-href="https://mall.sayidaty.net/category" href="https://mall.sayidaty.net/category" style="color: #fff; text-decoration: none; font-family:tahoma, Arial, Helvetica, sans-serif; font-size: 14px;">Shop</a></span></span></th>
<th align="center" style="text-align: center;" width="25%"><span style="font-weight: bold;"><span style="font-weight: normal;"><a data-cke-saved-href="https://mall.sayidaty.net/category?c=Women&amp;path=2&amp;cpath=2" href="https://mall.sayidaty.net/category?c=Women&amp;path=2&amp;cpath=2" style="color: #fff; text-decoration: none; font-family:tahoma, Arial, Helvetica, sans-serif; font-size: 14px;">Women</a></span></span></th>
<th align="center" style="text-align: center;" width="25%"><span style="font-weight: normal;"><a data-cke-saved-href="https://mall.sayidaty.net/category?c=Men&amp;path=1&amp;cpath=1" href="https://mall.sayidaty.net/category?c=Men&amp;path=1&amp;cpath=1" style="color: #fff; text-decoration: none; font-family:tahoma, Arial, Helvetica, sans-serif; font-size: 14px;">Men</a></span></th>
<th align="center" style="text-align: center;" width="25%"><span style="font-weight: normal;"><a data-cke-saved-href="https://mall.sayidaty.net/sale" href="https://mall.sayidaty.net/sale" style="color: #fff; text-decoration: none; font-family:tahoma, Arial, Helvetica, sans-serif; font-size: 14px;">Sale</a></span></th>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
