/**
 * Created by Bagaviev Askhat
 * Descr: scss for almall for Said
 * User: Bagaviev Askhat
 * Date: 25/06/2018
 * Time: 10:39
 * Developed by: http://elbargo.ru
 * All rights reserved (c) ELBARGO LTD 2018
 */
// Option A: Include all of Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
//@import "../../../node_modules/bootstrap-v4-rtl/scss/bootstrap";
//@import "../../../node_modules/bootstrap-v4-rtl/scss/bootstrap-rtl";
// Custom.scss
// Option B: Include parts of Bootstrap
// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
// Optional
//@import "../../../node_modules/bootstrap/scss/reboot";
//@import "../../../node_modules/bootstrap/scss/type";
//@import "../../../node_modules/bootstrap/scss/images";
//@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
//@import "../../../node_modules/bootstrap-v4-rtl/scss/bootstrap-grid";
//$imported-family: unquote("PT+Sans|Ubuntu");
//@import url("http://fonts.googleapis.com/css?family=#{imported-family}");
//@import url('https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu&subset=cyrillic');
//@include font-face(HelveticaNeueCyr, fonts/HelveticaNeueCyr-Black);
@import "fonts";

$familyGotham: 'HurmeGeometricSans1-Regular', sans-serif;
$font-stack: $familyGotham, sans-serif;
$fsize: 14px;

$primary-color: #ff6900;
$second-color: #d91133;
$dark-color: #423c39;
$grey-color: #a8a8a8;
$grey-color-light: #f4f4f3;
$white-color: #ffffff;
$bg-color-dark: #14181e;
$bg-color-light: #f4f4f3;

.dev {
  border: solid 1px red;
  background-color: $bg-color-light;
}

@for $i from 1 to 7 {
  .bg-item-#{$i} {
    background-image: url("../img/bg-#{$i}.jpg");
  }
}

//***************  mixins ***************//
@mixin border($color) {
  border: $color 1px solid;
}

@mixin transition($time) {
  transition: all $time ease;
}

//***************  styles common ***************//
html, body {
  font: $fsize $font-stack;
  color: $dark;

  @include media-breakpoint-down(xs) {

  }
}

#wrapper {
  padding-right: 7.1429rem;
  padding-left: 7.1429rem;

  @media (max-width: 1300px) {
    //padding-right: 3.5714rem;
    //padding-left: 3.5714rem;
    padding-right: 5.3714rem;
    padding-left: 5.3714rem;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 3.5714rem;
    padding-left: 3.5714rem;
  }
}

a {
  color: $dark-color;
  @include transition(200ms);

  &:hover,
  &:active {
    color: $primary-color;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
  display: none;

  @include media-breakpoint-down(lg) {
    position: fixed;
    z-index: 2;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0;
    opacity: 0.6;

    pointer-events: visible;

    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;

    overflow: hidden;
  }
}

.fixedPosition {
  position: fixed;
}

//***************  styles common ***************//

//***************  header ***************//
.container-fluid {
  overflow-x: hidden;
}

header {
  width: 100%;
  //min-height: 7.1429rem;

  @include media-breakpoint-down(xs) {

  }
}

.header-top-block {
  margin-bottom: 1.3571rem;
  max-height: 2.8571rem;
  //background-color: $bg-color-light;

  &__menu-left {
    width: auto;
    display: flex;
    margin-top: .8rem;
    padding-left: 1.2143rem;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .navbar-nav {
    flex-direction: row;

    @include media-breakpoint-down(sm) {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;

      width: 90%;
    }
  }

  .navbar-nav .nav-link {
    display: block;
    padding: 0 0rem 0 0;

    @media (max-width: 1115.98px) {
      padding: 0 .3rem 0 0;
    }
  }

  &__item {
    text-transform: capitalize;
    font-size: 0.8571rem;
    //font-size: 1rem;

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

    a {
      position: relative;
      display: block;
      margin: auto;
      margin-right: 0.7143rem;
      color: $grey-color;

      font-size: 0.8571rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;

      @include transition(200ms);

      &:hover,
      &:active {
        color: $primary-color;
      }
    }

    &:last-child {
      a::after {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    float: right;
    padding: 0.85rem 0 .7rem 1.3rem;

    text-decoration: none !important;
    font-size: 0.8571rem;
    //font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: $dark-color;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.header-topbar {

  @include media-breakpoint-down(lg) {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
    height: 51px;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);
  }
}

.header-dropdown-block {
  position: relative;
  float: left;
  @include transition(200ms);

  &:hover,
  &:active {
    color: $primary-color;
  }

  &::after {
    position: absolute;
    top: 10px;
    right: 0;
    display: block;
    content: '';
    width: 1px;
    height: 1.2857rem;
    border: solid 1px $grey-color;
  }

  p {
    padding: 0;
    margin: 0;
  }

  &__selected {
    position: relative;
    z-index: 3;
    padding: .7rem 1.3571rem .7rem 0;
    //margin-right: 2.0714rem;
    margin-right: 1.2143rem;

    background: url("../img/-e-dropdown.png") right center no-repeat;
    cursor: pointer;

    img {
      margin-top: -3px;
      width: 25px;
      height: 15px;
    }

    span {
      font-size: 0.8571rem; //12px
      //font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
    }
  }

  &__selected.active .header-dropdown-block__dropdown {
    display: block;
    position: absolute;
    top: 40px;

    padding: 1.4286rem 1.7143rem 1rem 1.7143rem;

    background-color: $white-color;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .3);

    @include media-breakpoint-down(lg) {
      top: 0;
      padding: 0 1rem;
    }
  }

  &__selected-flag {
    margin-right: 0.7857rem;
    max-width: 22px;
    max-height: 12px;
  }

  &__dropdown {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;

      img {
        width: 22px;
        height: 13px;
      }
    }
  }

  &__btn {
    margin-bottom: .7rem;
    padding-top: .8rem;

    text-transform: capitalize;
    font-family: HurmeGeometricSans1-Regular;
    //font-size: 0.8571rem;
    font-size: 1rem;

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

    border: none;
    background: none;

    cursor: pointer;

    @include transition(200ms);

    &:hover,
    &:active {
      color: $primary-color;
    }
  }

  &__link {
    margin-bottom: 0.5714rem;

    text-transform: capitalize;
    font-family: HurmeGeometricSans1-Regular;
    font-size: 0.8571rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }
}

#form-language .header-dropdown-block__selected {
  padding-left: 1.1429rem;
  padding-right: 1.5rem;
  margin-right: 0;
  background: none;
}

#account-block {
  &::after {
    display: none;
  }
}

#account-block .header-dropdown-block__selected {
  padding-left: 1.4286rem;
  padding-right: 2.1429rem;
  margin-right: 0;

  background-position: right 1rem center;

  .fa {
    position: absolute;
    top: 10px;
    left: 0;
  }

  span {
    font-weight: 600;
  }

  @include media-breakpoint-down(lg) {
    padding-right: 0;
    p {
      display: inline-block;
    }
  }
}

#form-search .header-dropdown-block__selected {
  width: 110px;
  height: 40px;
  margin-right: 1rem;
  padding-top: .9rem;
  padding-right: 3rem;
  padding-left: 1rem;
  background-position: right 11px center;
  border-right: none;

  border-radius: 0;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    height: 100%;
    width: 1px;
    border: solid 1px $grey-color-light;
  }

  @include media-breakpoint-down(lg) {
    display: block;
    margin: auto;
    padding-top: .6rem;
    border: solid 1px $grey-color-light;

    &::after {
      display: none;
    }
  }
}

.header-logo {
  margin-top: 0.8571rem;

  &__link {
    display: block;
    margin: auto;
  }

  &__image {
    max-width: 7.8571rem;
    max-height: 1.5714rem;
    //width: 11.7857rem; //165px
    //height: 2.3571rem; //33px
    @include media-breakpoint-down(md) {
      width: 110px;
      height: 22px;
      display: block;
      margin: auto;
    }
  }

  @include media-breakpoint-down(lg) {
    display: block;
    margin: 1.0714rem auto 1rem;
  }
}

.header-dropdown-block_search {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;

  border: solid 1px $grey-color-light;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .23);

  &.active {
    display: flex;
  }

  select {
    margin: 0;
    border: none;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;

    outline: none;
    border-radius: 0;

    font-size: 0.8571rem; //12px
    //font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

    option {
      padding: .7rem 1rem;

      @include transition(200ms);

      &:hover,
      &:active {
        color: $white-color;
        background: $dark-color;
      }

    }
  }

  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

  .form-control {
    height: 40px;
    padding-left: 0;
    border: none;

    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.32;
    letter-spacing: normal;
    text-align: left;
    color: $grey-color;

    &::placeholder {
      color: $grey-color;
    }

    @include media-breakpoint-down(lg) {
      padding: 12px;
      line-height: 1.5;
      border: solid 1px $grey-color-light;
      border-radius: 0;
    }
  }

  &-btn {
    padding: 0.8571rem;
    border: none;
    border-left: solid 1px $grey-color-light;
    background: none;

    cursor: pointer;

    @include transition(200ms);

    //&:hover,
    //&:active {
    //  color: $white-color;
    //  background: $primary-color;
    //}

    @include media-breakpoint-down(lg) {
      padding: .7em;
      .fa {
        font-size: 1.3em;
      }
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
    position: fixed;
    z-index: 2;
    padding: 10px;
    top: 51px;
    left: 0;
    right: 0;

    width: 100%;
    height: 60px;

    min-width: 320px;
    background-color: white;
  }

  @include media-breakpoint-down(sm) {

  }
}

.search-parent {

}

.search-btn {
  padding: 0.8571rem;
  border: none;
  background: none;
  cursor: pointer;

  @include transition(200ms);

  //&:hover,
  //&:active {
  //  color: $white-color;
  //  background: $primary-color;
  //}

  @include media-breakpoint-down(lg) {
    padding: 0;
    margin-top: 1.2143rem;
  }
}

.header-dropdown-block_search {

  &::after {
    display: none;
  }

  .header-dropdown-block__selected .header-dropdown-block__dropdown {
    padding: 0.6429rem 0 0.6429rem;
    margin-left: -1rem;
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
    }

    button {
      width: 100%;
      padding: .5rem 1rem;
      margin-bottom: 0;

      @include transition(200ms);

      &:hover,
      &:active {
        color: $white-color;
        background: $dark-color;
      }
    }
  }
}

.header-cart-button {
  display: block;
  margin: auto;
  margin-top: .9rem;

  position: relative;
  text-align: right;

  .cart-btn {
    position: relative;
    background: none;
    border: none;
  }

  img {
    width: 19px;
    height: 18px;
  }

  &_btn[data-count] {
    &::after {
      display: block;
      content: attr(data-count);

      width: 1rem;
      height: 1rem;

      border-radius: 50%;
      color: $white-color;

      background: #ef8513;
      position: absolute;
      top: 0;
      right: 50%;
      margin-right: -16px;
      z-index: 2;
      line-height: 14px;
      text-align: center;

      font-family: HurmeGeometricSans1;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
    }
  }

  button {
    @include media-breakpoint-down(lg) {
      margin: 0;
      padding: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 0;
    margin-top: 1.1429rem;
  }
}

//***************  menu ***************//

.menu-header-block {
  margin: 1.8571rem 0 1.2857rem;
  width: 100%;

  .navbar-nav-scrolling {
    position: relative;
    width: 100%;

    @include media-breakpoint-down(lg) {
      padding: 0 1rem;
      position: absolute;
      top: 49px;
      bottom: 49px;
      left: 0;
      width: 100%;

      justify-content: center;
      overflow-x: hidden;
      overflow-y: scroll;
      pointer-events: visible;
    }
  }

  .navbar-nav {
    position: relative;
    width: 100%;
    justify-content: center;

    .nav-link {
      position: relative;
      padding-right: 1.4286rem;
      padding-left: 1.4286rem;
    }

    .nav-item:hover,
    .nav-item:active {
      @include media-breakpoint-up(lg) {
        .menu-header-block__dropdown {
          display: block;
        }
      }
    }

    .nav-item.active > .menu-header-block__dropdown {
      //display: block;
      opacity: 1;
      transform: translateX(0);
      @include transition(200ms);
    }

    .nav-item-bold .nav-link {
      font-weight: 600;
      position: relative;
    }

    .nav-item-hot .nav-link {
      &::before {
        position: absolute;
        z-index: 3;
        top: -10px;
        left: 10px;
        display: block;
        content: attr(data-sale);
        width: 23px;
        height: 12px;
        color: $white-color;

        font-size: 9px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;

        background-color: $second-color;
      }

      &::after {
        position: absolute;
        z-index: 2;
        top: -4px;
        left: 17px;
        display: block;
        content: '';

        border: solid 9px $second-color;
        border-left: transparent;
        border-top: transparent;

        transform: rotate(45deg);
      }
    }

    a {
      text-transform: capitalize;
      font-size: 1rem;
      //font-size: 1.1429rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $dark-color;

      @include transition(200ms);

      &:hover,
      &:active {
        color: $primary-color;
      }
    }
  }

  .navbar-collapse {

    .header-logo,
    .close,
    .header-dropdown-block,
    .header-top-block__link,
    .header-top-block__menu-left {
      display: none;
    }

    //for mobiles menu
    @include media-breakpoint-down(lg) {
      display: block;
      position: fixed;
      z-index: 3;
      top: 0;
      bottom: 0;
      left: 0;
      width: 22.5rem;
      height: 100vh;

      background-color: $white-color;
      transform: translateX(-105%);
      @include transition(200ms);

      opacity: 0;

      .header-logo-parent {
        padding: 1rem;
        width: 100%;
        min-height: 48px;
        border-bottom: solid 1px $grey-color-light;
      }

      &.show {
        transform: translateX(0);
        opacity: 1;

        overflow: hidden;
      }

      .header-logo,
      .close,
      .header-dropdown-block,
      .header-top-block__link {
        display: block;
      }

      .header-dropdown-block {
        &::after {
          display: none;
        }
      }

      .header-top-block__menu-left {
        position: absolute;
        z-index: 5;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //margin: 0 -2rem -1rem -1rem;
        padding: 1rem;
        margin: 0;
        width: 99%;

        background-color: $grey-color-light;

        .nav-link {
          font-size: 0.8571rem !important;
          padding: 0 !important;
          margin: 0 !important;
        }
        .nav-item:last-child .nav-link,
        .nav-item:nth-last-child(2) .nav-link {
          font-weight: inherit;
          position: relative;
        }

        .nav-item:last-child .nav-link {
          &::before,
          &::after {
            display: none;
          }
        }
      }

      .header-logo {
        float: left;
        margin: auto;
        margin-left: 86px;
        margin-bottom: 12px;
      }

      .close {
        float: right;
        width: 16px;
        height: 16px;

        background: url("../img/ic-close.svg") center no-repeat;
      }

      .nav-link {
        padding: 12px 0;
        position: static;
      }

      .nav-link-back {
        font-size: 1.2857rem;
        font-weight: 700;
        border-bottom: none;
        color: #a8a8a8;
        cursor: pointer;
      }

      .navbar-nav .nav-link {
        font-size: 18px;

        &:hover,
        &:active {
          color: $grey-color;
          //font-weight: bold;
        }
      }

      .nav-item:last-child .nav-link {
        &::before {
          top: -3px;
          left: 0;
        }

        &::after {
          top: 3px;
          left: 7px;
        }
      }

      .header-dropdown-block {
        position: static;
        float: none;
        width: 100%;
        font-size: 1.2857rem;
      }

      #account-block {
        position: static;
        border-top: solid 1px $grey-color-light;
        border-bottom: solid 1px $grey-color-light;
      }

      .header-dropdown-block__selected {
        display: block;
        position: static;
        z-index: 4;
        background: none !important;
        padding-left: 0 !important;
        padding-right: 0;
        margin-right: 0;

        span {
          font-size: 1.2857rem;
        }

        &.active > .menu-header-block__dropdown {
          display: block;
          padding: 0 1rem;
          opacity: 1;
          transform: translateX(0);
          @include transition(200ms);
        }

        &:hover,
        &:active {
          color: $grey-color;
          font-weight: bold;
        }
      }
      .header-top-block__link {
        float: left;
        padding: 12px 0;
        font-size: 1.2857rem;

        margin-bottom: 1.7857rem;

        &:hover,
        &:active {
          color: $grey-color;
          font-weight: bold;
        }
      }

      //mobile submenu
      .menu-header-block__dropdown {
        display: block;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;

        width: 102%;
        height: auto;
        min-height: 100vh;

        margin: 0;
        padding: 0;

        border-top: none;
        background-color: $white-color;
        box-shadow: none;

        opacity: 0;
        transform: translateX(105%);
        @include transition(200ms);

        //overflow-y: scroll;

        .navbar-nav .nav-item .nav-link {
          margin: 0;
          padding: 12px 0;
        }
      }

      .menu-header-block__column-parent,
      .menu-header-block__column {
        float: none;
        margin: 0;
      }

      .menu-header-block__column {
        display: none;
      }

      .menu-header-block__title-back {
        position: relative;
        padding-left: 2rem;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 0;
        font-size: 1.2857rem;
        font-weight: bold;
        border-bottom: none;
        color: $grey-color;

        cursor: pointer;

        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;
          left: 0;

          display: block;
          content: '';

          width: 10px;
          height: 10px;

          border: solid 2px #6a6563;
          border-right: transparent;
          border-bottom: transparent;

          transform: rotate(-45deg);
        }
      }

      .menu-header-block__title {
        margin: 0;
        padding: 12px 0;

        font-size: 1.2857rem;
        font-weight: normal;
        border-bottom: none;
        color: $black;

        cursor: pointer;
      }

      #form-country {
        .header-dropdown-block__dropdown {
          z-index: 4;
          margin-left: -1rem;
          width: 100%;
          height: 100%;
        }
        .header-dropdown-block__btn {
          margin: 0;
          padding: 0;

          &:hover,
          &:active {
            color: $grey-color;
            font-weight: bold;
          }
        }

        .nav-item:last-child .nav-link {
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__column-parent {
    display: block;
    float: left;
    margin-right: 2.8571rem;
    margin-bottom: 3.8571rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__column {
    display: block;
    float: left;
    margin-right: 2.6429rem;

    &:last-child {
      margin-right: 0;
    }

    &_short {
      margin-bottom: 2.0714rem;
    }
  }

  &__title {
    margin-bottom: 1.0714rem;
    padding: 0.7857rem 0;

    font-size: 1rem;
    //font-size: 1.1429rem;

    font-weight: 600;
    border-bottom: solid 1px $grey-color;
  }

  &__dropdown {
    display: none;
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 0;
    right: 0;
    width: 1170px;
    //width: calc(100% - 500px) / 2;
    //max-width: 1280px;
    //width: 1300px;

    margin: 0 auto;
    padding: 1rem 1.7143rem 2.4286rem 1.7143rem;

    border-top: solid 1px $primary-color;
    background-color: $white-color;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);

    .navbar-nav {
      position: relative;
      width: auto;
      flex-direction: column;

      .nav-item .nav-link {
        margin: 0;
        margin-bottom: 0.5rem;
        padding: 0;
      }

      .nav-item:last-child .nav-link {
        margin-bottom: 0;
      }

      .nav-item:last-child .nav-link,
      .nav-item:nth-last-child(2) .nav-link {
        font-weight: 400;
        position: relative;
      }

      .nav-item:last-child .nav-link {
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  &-brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.4286rem;

      width: 131px;
      height: 72px;

      padding: .5rem 1rem;
      margin-bottom: .5rem;

      background-color: transparent;
      border-radius: 3px;
      border: solid 1px $grey-color-light;
      cursor: pointer;
      overflow: hidden;

      @include transition(600ms);

      &:hover,
      &:active {
        border: solid 1px $dark-color;
        background-color: $white-color;
      }

      &:last-child {
        margin-right: 0;
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 3px;

        background-color: rgba(0, 0, 0, .06);

        @include transition(600ms);
      }

      &:hover,
      &:active {

        &::before {
          background-color: rgba(0, 0, 0, 0);
        }
      }

      @include media-breakpoint-down(lg) {
        width: 40%;
        margin-bottom: .5rem;
      }
    }

    &__image {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;

      @include transition(600ms);
    }

    @include media-breakpoint-down(lg) {
      display: none;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  .navbar {
    padding: 1.2143rem 0 0;
  }

  .navbar-toggler {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    font-size: 1rem;
  }

  .navbar-toggler-icon {
    vertical-align: top;
    width: 20px;
    height: 18px;

    img {
      width: 20px;
      height: 18px;
    }
  }

  @include media-breakpoint-down(lg) {
    margin: 0;
  }
}

//***************  slider ***************//

.slider {
  position: relative;
  z-index: 1;
  margin-bottom: 4.4286rem;
  margin-right: -30px;
  margin-left: -30px;

  &__title {
    position: absolute;
    z-index: 2;

    top: 7.6429rem;
    left: 3.3571rem;

    &_add {
      margin-bottom: 1.2rem;

      font-style: normal;
      font-stretch: normal;

      letter-spacing: normal;
      text-align: center;
      color: $dark-color;
      font-size: 1.1429rem;
      font-weight: normal;
      line-height: .8;

      @include media-breakpoint-down(sm) {
        font-size: 0.8571rem;
        margin-bottom: .5rem;
      }
    }

    &_main {
      font-family: 'HurmeGeometricSans1-SemiBold';
      text-transform: uppercase;
      margin-bottom: 1.2rem;
      font-size: 3.1429rem;
      font-weight: 800;
      line-height: .8;

      @include media-breakpoint-down(sm) {
        font-size: 2.2857rem;
        margin-bottom: .5rem;
      }
    }

    @include media-breakpoint-down(sm) {
      top: 5.1429rem;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: 33.2857rem; //466px
    object-fit: cover;
    overflow-x: hidden;

    @include media-breakpoint-down(sm) {
      max-height: 15.0714rem; //211px

      object-position: 50% 50%;
    }
  }

  &__btn {
    position: absolute;
    z-index: 2;
    bottom: 2.8571rem;
    left: 2.1429rem;

    width: 7.7857rem;
    height: 2.8571rem;
    background-color: $white-color;
    font-size: 1.1429rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    text-align: center;
    color: $dark-color;

    @include transition(200ms);

    &:hover,
    &:active {
      color: $primary-color;
      background-color: $grey-color-light;
    }

    @include media-breakpoint-down(sm) {
      left: 0;
      right: 0;
      bottom: .5em;
      margin: 0 auto;
    }
  }

  &__count {
    position: absolute;
    bottom: 3.0714rem;
    right: 2.1429rem;

    font-size: 2.7143rem;

    p {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: rgba(66, 60, 57, 0.75);
    }

    span {
      font-weight: 600;
      color: $primary-color;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.2857rem;

      bottom: 1em;
      right: 1em;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 51px;
  }

  @include media-breakpoint-down(sm) {
    margin: 51px -30px 1.6316em;
  }
}

.slider .owl-carousel .owl-item img {

  @include media-breakpoint-down(sm) {
    width: 200%;
    object-position: 120% 50%;
  }
}

.slider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}

.slider .owl-dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  //right: -1.7143rem;
  right: -1.2857rem;
  top: 0;
  bottom: 0;
  margin: auto;

  button {
    margin: 0 auto;
    width: 26px;
    height: 22px;
  }

  @media (max-width: 1300px) {
    right: -1em;
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.slider .item {
  overflow: hidden;
}

.slider .owl-theme .owl-dots .owl-dot span {
  margin: auto;

  @include transition(200ms);

  &:hover,
  &:active {
    color: $primary-color;
  }
}

.slider .owl-theme .owl-dots .owl-dot.active span,
.slider .owl-theme .owl-dots .owl-dot:hover span {
  width: 12px;
  height: 12px;
  background: $primary-color;
}

.socials-icons {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  //left: -3.2143rem;
  left: -1.0714rem;
  //left: -2.3571rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 13.5714rem;
  //height: 16.7142rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    //padding-top: 6px;
    //font-size: 1rem;
    text-align: center;
    color: $grey-color;

    @include transition(600ms);

    &:hover,
    &:active {
      color: $primary-color;
      background: $grey-color-light;
      text-decoration: none;
    }
  }

  &__link {
    margin-bottom: 1.5714rem;
    width: 2.1429rem; // 30px;
    height: 2.1429rem; // 30px;
    //width: 3rem;
    //height: 3rem;

    border-radius: 5px;
    border: solid 1px $grey-color;

    @include transition(600ms);

    &:hover,
    &:active {
      border: solid 1px $primary-color;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .fa {
      //font-size: 1.5714rem;
      font-size: 1.2rem;
    }
  }

  @media (max-width: 1300px) {
    //left: -2em;
  }

  @include media-breakpoint-down(lg) {
    display: none;
    //left: -1.5em;
  }
}

//***************  product-block ***************//

.product-block {
  margin-bottom: 6.7143rem;
  //margin-bottom: 13.0714rem;

  &__title {
    display: inline-block;
    float: left;
    margin-bottom: 2.1429rem;

    font-family: 'HurmeGeometricSans1-Bold';
    font-size: 1.8571rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;

    &_smaller {
      display: inline-block;
      float: left;
      margin-bottom: 1.4286rem;

      font-family: 'HurmeGeometricSans1-Bold';
      font-size: 1.2857rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1.2857rem;
        font-size: 1rem;
      }
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.2857rem;
      font-size: 1rem;
    }
  }

  &__all {
    position: relative;
    float: right;
    display: inline-block;

    margin-top: .9rem;
    padding-right: 1.1rem;
    text-align: right;
    vertical-align: bottom;

    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: $grey-color;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;

      width: 5px;
      height: 5px;
      border: solid 1px $grey-color;
      border-left: transparent;
      border-bottom: transparent;

      transform: rotate(45deg);
    }

    &:hover {
      text-decoration: none;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }

  &-items {
    padding: 0 .82rem 0;
    //width: 100%;
    overflow: hidden;

    .owl-item {
      float: left;
    }
    .owl-stage-outer {

    }
    .owl-stage {

    }

    @include media-breakpoint-down(lg) {
      padding: 0 .7rem 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__item {
    position: relative;
    //margin-right: 1.3571rem;
    //padding: 2.1429rem 2.1429rem 0 2.1429rem;

    width: 19.1429rem;
    //height: 27.6429rem;
    //max-width: 19.1429rem;
    //max-height: 27.6429rem;

    border-radius: 3px;
    border: solid 1px transparent;
    //background-color: #f0f0f0;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      //width: 10.4286rem;
      width: 10rem;
    }
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 19.1429rem; // 268px;
    height: 27.6429rem; // 387px;

    padding: 2.1429rem 2.1429rem 0 2.1429rem;
    margin: auto;
    margin-bottom: 1.2857rem;

    a,
    a:active, a:focus {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: 0;
      text-decoration: none;

      &::before {
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;
        content: '';
        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, .06);
        //opacity: .3;

        border-radius: 3px;
      }
    }

    img {
      width: 14.8571rem; // 208px;
      height: 25.5rem; // 357px;

      object-fit: contain;

      border: solid 1px transparent;

      @include media-breakpoint-down(sm) {
        width: 8.2857rem;
        height: 13.7857rem;
      }
    }

    &_filter {
      filter: brightness(.7);
    }

    @include media-breakpoint-down(sm) {
      padding: .5rem;
      margin-bottom: 0.7857rem;
      width: 100%;
      height: 100%;
    }
  }

  &__discount-sum {
    position: absolute;
    top: 1.07rem;
    right: 0;

    padding: 0.4286rem .5rem;

    background-color: $grey-color;
    color: $white-color;
    font-size: 1.0714rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      top: 11px;
      padding: 2px 4px;
      font-size: 0.8571rem;
      max-height: 20px;
    }
  }

  &__timer {
    position: relative;
    //bottom: 0;
    display: flex;
    justify-content: center;
    //width: 100%;
    height: 2.8571rem;
    //margin-left: -2.1429rem;
    //margin: 0 -2.1429rem;
    margin-top: -4.3rem;
    margin-bottom: 1.2857rem;

    padding: 1.2rem 0 0.8571rem;

    color: $white-color;
    font-size: 1.4286rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.23;
    letter-spacing: -0.5px;
    text-align: center;

    background-color: rgba(217, 17, 51, .7);

    span {
      font-size: 1rem;
      font-weight: normal;
      line-height: 0.32;
      letter-spacing: -0.3px;
    }

    @include media-breakpoint-down(sm) {
      height: 1.76rem;
      margin-top: -2.5rem;
      font-size: 1rem;
      padding: .7rem 0 .5rem;
    }
  }

  &-info {
    //margin: 1.2857rem -2.1429rem 6.7143rem -2.1429rem;
    //margin: 1.2857rem -2.1429rem 0 -2.1429rem;

    a,
    &__link {
      display: block;
      text-decoration: none;

      font-size: 1rem;

      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;

      @include transition(200ms);

      &:hover {
        color: $primary-color;
      }

      &_title {
        margin-bottom: 1rem;
        //font-size: 1rem;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;

        color: $grey-color;

        @include media-breakpoint-down(sm) {
          margin-bottom: 0.5714rem;
          font-size: 0.7143rem;
        }
      }

      &_subtitle {
        margin-bottom: 1.1429rem;
        max-height: 38px;
        overflow: hidden;

        //font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $dark-color;

        @include media-breakpoint-down(sm) {
          margin-bottom: 0.7857rem;
          max-height: 33px;

          white-space: normal;
          font-size: 0.8571rem;
        }
      }

      @include media-breakpoint-down(sm) {
        font-size: 0.8571rem;
      }
    }

    &__price {
      font-family: 'HurmeGeometricSans1-Bold';
      display: inline;
      font-size: 1.0714rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $dark-color;

      span {
        font-family: 'HurmeGeometricSans1-Regular';
        font-weight: 400;
      }

      @include media-breakpoint-down(sm) {
        font-size: 0.8571rem;
      }
    }

    &__price_new {
      font-family: 'HurmeGeometricSans1-Bold';
      display: inline;
      font-size: 1.0714rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $second-color;

      span {
        font-family: 'HurmeGeometricSans1-Regular';
        font-weight: 400;
      }

      @include media-breakpoint-down(sm) {
        display: block;
        float: none;
        margin-bottom: 0;

        font-size: 0.8571rem;

        &+ .product-block-info__btn{
          margin-top: -.5rem;
        }
      }
    }

    &__price_old {
      display: inline;
      text-decoration: line-through;
      font-size: 1.0714rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $grey-color;

      @include media-breakpoint-down(sm) {
        font-size: 0.8571rem;
        &+ .product-block-info__btn{
          margin-top: -.5rem;
        }
      }
    }

    &__btn {
      float: right;
      text-align: right;
      position: relative;
      width: 1.4286rem;
      height: 1.2857rem;

      background: transparent;
      border: none;

      cursor: pointer;

      .fa {
        padding: 0;
        margin: 0;
        color: $grey-color;

        @include transition(600ms);

        &:hover,
        &:active {
          color: $primary-color;
        }
      }

      &-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 18px;
        object-fit: contain;
        opacity: 1;

        @include transition(200ms);

        &:hover {
          opacity: 0;
        }

        &.active {
          display: block;
          opacity: 0;
          &:hover {
            opacity: 1;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        //margin-top: -.5rem;
      }
    }
  }

  &__item-title {
    position: absolute;
    top: 8.2143rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2.2rem 1rem 3.2143rem;
    display: block;

    width: 248px;
    height: 158px;
    border: solid 2px #ffffff;

    text-transform: uppercase;

    font-size: 2.8571rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $white-color;

    span {
      padding: 0;
      text-transform: none;
      text-align: left;
      font-size: 2.5rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;

      b {
        padding: 0 .5rem;
        text-transform: uppercase;
        font-size: 2.8571rem;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;

        color: $second-color;
        background-color: $white-color;

        @include media-breakpoint-down(sm) {
          font-size: 1.3571rem;
        }
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.3571rem;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 5px;
      top: 62px;
      width: 134px;
      height: auto;

      font-size: 1.5rem;
    }
  }

  .owl-stage {

  }

  .owl-dots {
    display: none;
  }

  .owl-nav {
    position: absolute;
    top: 186px;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;

    text-align: left;

    button {
      width: 35px;
      height: 12px;
      cursor: pointer;

      background: transparent;
      border: none;

      span {
        display: none;
      }
    }

    .owl-prev {
      background: url("../img/ic_arrow_standart.png") center no-repeat;

      &:hover {
        background: url("../img/ic_arrow_active.png") center no-repeat;
      }
    }

    .owl-next {
      float: right;
      transform: rotate(180deg);
      background: url("../img/ic_arrow_standart.png") center no-repeat;

      &:hover {
        background: url("../img/ic_arrow_active.png") center no-repeat;
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 3.5rem;
  }
}

//for first discount picture
.product-block__item_first {
  padding: 0;

  border-radius: 4px;
  overflow: hidden;

  .product-block__image {
    padding: 0;
    //margin: -2.1429rem -2.1429rem 0 -2.1429rem;
    //width: 285px !important;
    //height: 387px;
    width: 20.3571rem !important;
    height: 27.6429rem;

    img {
      width: 20.3571rem !important;
      height: 27.6429rem;

      @include media-breakpoint-down(sm) {
        width: 11rem !important;
        height: 14.9286rem;
      }
    }

    @include media-breakpoint-down(sm) {
      width: 11rem !important;
      height: 14.9286rem;
    }
  }

  .product-block-info {
    margin: 0;
    margin-top: 1.0714rem;

    a:first-child {
      color: $second-color;
    }

    &__title {
      //margin-bottom: 0.7857rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;

      color: $second-color;
    }

    &__subtitle {
      margin-bottom: 0.6429rem;

    }

    &__link {

      &_subtitle {

        @include media-breakpoint-down(sm) {
          margin-bottom: 1.9rem;
        }
      }
    }

    &__btn_first-btn {
      width: 118px;
      height: 26px;
      border-radius: 2px;
      background-color: #d91133;

      font-size: 1rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: .9;
      letter-spacing: -0.3px;
      text-align: center;
      color: $white-color;

      @include transition(600ms);

      &:hover,
      &:active {
        color: $white-color;
        background: $primary-color;
      }

      @include media-breakpoint-down(sm) {
        width: 98px;
        height: 32px;
      }
    }
  }

}

//***************  stuff-block ***************//

.stuff-block {
  margin-bottom: 5rem;

  &__title-main {
    margin-bottom: 1.6429rem;

    font-family: 'HurmeGeometricSans1-Bold';
    font-size: 1.8571rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.4286rem;
      font-size: 1.4444em;
    }
  }

  &__title-hand {
    margin-bottom: 1.0714rem;
    padding: 0;

    font-family: Quentin;
    font-size: 3.5714rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: $primary-color;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0.3999em;
      font-size: 2.2857em;
    }
  }

  &-parent-link {
    display: block;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: none;

      .arrow {
        right: -5px;
        transform: scale(1.2);
      }
      .stuff-block__link {
        color: $primary-color;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 47.5rem; //665px
    max-height: 31.4286rem; //453px

    margin-bottom: 1.0714rem; // old from design 15px

    position: relative;
    background-color: $dark-color;
    border-radius: 3px;

    overflow: hidden;

    &_short {
      //max-height: 21.2143rem; // 296px
      max-height: 20.585rem;

      @include media-breakpoint-down(md) {
        max-height: 12.8571rem;
      }

      @include media-breakpoint-down(sm) {
        max-height: 12.7143rem; //178px;
      }
    }

    &_very-short {
      //max-height: 15.6429rem; //219px 219 * 100 / 453 = 48,34%
      max-height: 15.18rem;

      @include media-breakpoint-down(lg) {

      }

      @include media-breakpoint-down(md) {
        margin-bottom: 1em;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 1.0714rem;
        max-height: 11rem; // 154px;
      }

      @include media-breakpoint-down(xs) {

      }
    }

    &_link {
      display: block;
      cursor: pointer;
    }

    @include media-breakpoint-down(md) {
      max-height: none;
    }

    @include media-breakpoint-down(sm) {
      max-height: 17rem; //238px;
    }
  }

  &__title {
    position: absolute;
    top: 6.4286rem;
    left: 2.1429rem;

    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $white-color;

    @include media-breakpoint-down(lg) {
      font-size: 2.7em;
    }

    @include media-breakpoint-down(md) {
      top: 1.8000em;
      left: 1.1429rem;
      font-size: 2em;
    }

    @include media-breakpoint-down(sm) {
      top: 1.8000em;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.6em;
    }
  }

  &__subtitle {
    position: absolute;
    top: 10.0714rem;
    left: 2.1429rem;

    font-size: 1.4286rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    @include media-breakpoint-down(md) {
      top: 6.0428em;
      left: 1.1429rem;
      font-size: 1rem;
    }

    @include media-breakpoint-down(sm) {
      top: 6.0428em;
    }

    @include media-breakpoint-down(xs) {
      top: 5em;
    }
  }

  &__title-image {
    position: absolute;
    top: 2.8571rem;
    left: 2.1429rem;

    max-width: 14.2857rem;
    max-height: 14.2857rem;

    @include media-breakpoint-down(md) {
      top: 1.9286rem;
      left: 1.5rem;

      max-width: 8.8571rem;
      max-height: 3.1429rem;
    }
  }

  &__link {
    position: absolute;
    bottom: 2.1429rem;
    left: 2.1429rem;

    padding-right: 2rem;
    padding-bottom: 0.7143rem;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1429rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.94;
    letter-spacing: normal;
    text-align: left;
    color: $white-color;

    border-bottom: solid 1px $white-color;

    @include transition(600ms);

    &:hover,
    &:active {
      text-decoration: none;

      .arrow {
        right: -5px;
      }
    }

    .arrow {
      position: absolute;
      top: 5px;
      right: 0;
      @include transition(200ms);
    }

    @include media-breakpoint-down(md) {
      bottom: 1.5em;
      left: 1.1429rem;
    }

    @include media-breakpoint-down(sm) {
      bottom: 1.5em;
      left: 1.1429rem;

      font-size: 1rem;
    }
  }

  &__image {
    width: 100%;

    object-fit: cover;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 1.0714rem;
  }
}

.stuff-block-menu {
  display: flex;

  .stuff-block__title-main {
    font-size: .5rem;
  }

  .stuff-block__title-hand {

  }

  .stuff-block__item {
    max-width: 175px;
    max-height: 90px;
    //float: left;
    margin-right: 1.4286rem;

    position: relative;
    background-color: $dark-color;
    border-radius: 7px;

    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    &_short {
      //max-height: 21.2143rem;
    }

    &_very-short {
      //max-height: 15.6429rem;
    }
  }

  .stuff-block__title {
    position: absolute;
    top: 1.9286rem;
    left: 0.5714rem;
    font-size: .7rem;
  }

  .stuff-block__subtitle {
    position: absolute;
    top: 3.0714rem;
    left: 0.5714rem;
    font-size: .5rem;
  }

  .stuff-block__link {
    position: absolute;
    bottom: 0.5714rem;
    left: 0.5714rem;
    font-size: .2rem;
    padding-right: 2rem;
    padding-bottom: 0.2rem;

    color: $white-color !important;

    @include transition(600ms);

    &:hover,
    &:active {
      text-decoration: none;

      .arrow {
        right: -5px;
      }
    }

    .arrow {
      position: absolute;
      top: 5px;
      right: 0;
      @include transition(200ms);
    }
  }

  .stuff-block__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  @include media-breakpoint-down(lg) {
    display: none;
    margin-bottom: 0;
  }
}

//***************  brands - brands-slider ***************//

.brands-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0 auto 6.7143rem;
  //margin-bottom: 4.2143rem;
  overflow: hidden;

  &__item {
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    //width: 180px;
    width: 100%;
    height: 72px;
    margin-right: 1rem;

    //margin-bottom: .5rem;

    border-radius: 3px;
    border: solid 1px $grey-color-light;
    cursor: pointer;

    @include transition(600ms);

    &:hover,
    &:active {
      border: solid 1px $dark-color;
    }

    @include media-breakpoint-down(sm) {

      height: 55px;
    }
  }

  &__link {
    position: relative;
    margin: auto;
    padding: .5rem;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 3px;

      background-color: rgba(0, 0, 0, .06);

      @include transition(600ms);
    }

    &:hover,
    &:active {

      &::before {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

    //opacity: .3;
    @include transition(600ms);

  }

  .owl-stage {

  }

  .owl-item {
    float: left;
  }

  .owl-carousel {

  }

  .owl-theme .owl-nav.disabled + .owl-dots {

  }

  .disabled {

  }

  .owl-dots {
    position: absolute;
    bottom: 4.2143rem;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .owl-dots .owl-dot {
    border: none;
    background: none;
    border-radius: 50%;

    cursor: pointer;
  }

  .owl-dots .owl-dot span {
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    background-color: $grey-color;

    @include transition(600ms);
  }

  .owl-dots .owl-dot.active span,
  .owl-dots .owl-dot:hover span {
    background-color: $primary-color;
  }

  .owl-nav {
    display: none;
  }
  > .owl-dots {
    //display: none;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 2rem;
  }
}

//***************  .sign-up ***************//

.sign-up {
  position: relative;
  margin-bottom: 4.6429rem;
  padding: 5.3125rem 4.9375rem;
  background-color: $grey-color-light;

  &__image {
    position: absolute;
    bottom: -5.3125rem;
    width: 27.1429rem; // 380px;
    height: 30.3571rem; // 425px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 2.9286rem;
    padding: 3.2857rem 0 3.3571rem;
  }
}

.sign-up-form {
  margin-bottom: 1rem;

  font-size: 1.625rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;

  &__title {
    font-family: 'HurmeGeometricSans1-Bold';
    font-size: 1.8571rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  span {
    color: $primary-color;
  }

  label {
    margin-bottom: 2.3571rem;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: inherit;
    color: $dark-color;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.7857rem;
    }
  }

  input::placeholder {
    opacity: 0.5;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(66, 60, 57, 0.5);
  }

  .form-control {
    padding: 1.0714rem 1rem;
    margin-bottom: 1.7143rem;

    max-width: 29.2143rem;

    text-align: left;

    border-radius: 3px;
    background-color: transparent;
    border: solid 1px $dark-color;

    @include media-breakpoint-down(lg) {

    }

    @include media-breakpoint-down(md) {
      margin: auto;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.7143rem;
    }
  }

  &__btn {
    width: 79px;
    height: 40px;
    border-radius: 3px;
    background-color: $dark-color;

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $white-color;

    @include transition(600ms);

    &:hover,
    &:active {
      background-color: $primary-color;
    }

    @include media-breakpoint-down(sm) {
      margin-right: .5rem;
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

//***************  adv-block ***************//
.adv-block-parent {
  padding-bottom: 4.5rem;
  margin-bottom: 3rem;
  border-bottom: solid 1px $grey-color-light;

  @include media-breakpoint-down(lg) {
    padding-bottom: 0;
    margin-bottom: 2.1429rem;
    border-bottom: solid 1px $grey-color-light;
  }
}

.adv-block {
  display: block;
  max-width: 11.5714rem;
  margin: auto;
  padding-left: 3.5rem; //49px;

  &:last-child {
    padding-left: 4.2143rem; // 59px;
  }

  h3, p {
    padding: 0;
    margin: 0;
  }

  &__title {
    margin-bottom: 0.6429rem;

    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: $grey-color;
  }

  @include media-breakpoint-down(lg) {
    margin-left: 0;
    margin-bottom: 3.2857rem;
  }
}

@for $i from 1 to 5 {
  .adv-block-#{$i} {
    background: url("../img/adv-#{$i}.svg") left top no-repeat;
  }
}

//***************  footer ***************//

footer {
  .navbar-nav {
    margin-bottom: 2rem;

    &__second {
      .nav-item:last-child .nav-link,
      .nav-item:nth-last-child(2) .nav-link {
        font-weight: 600;
      }
    }

    @include media-breakpoint-down(lg) {
      padding-bottom: 1.9286rem;
      margin-bottom: 1.5rem;
      border-bottom: solid 1px $grey-color-light;
    }
  }
  .nav-link {
    padding: 0 0 0.8571rem;
  }

  .nav-item:last-child .nav-link {
    padding-bottom: 0;
  }
}

.footer {

  &-logo {
    margin-bottom: 1.3571rem;
    width: 7.8571rem;
    height: 1.5714rem;
    object-fit: contain;
  }

  &__title {
    margin-bottom: 0.9286rem;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;
  }

  &__subtitle {
    margin-bottom: 1.8571rem;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;
  }

  &__tel {
    font-size: 1.2857rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;

    &:hover {
      text-decoration: none;
    }
  }

  &__work-time {
    margin-bottom: 2.7857rem;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: $grey-color;

    @include media-breakpoint-down(lg) {
      padding-bottom: 1.9286rem;
      margin-bottom: 1.5rem;
      border-bottom: solid 1px $grey-color-light;
    }
  }

  &-rights {
    background-color: $grey-color-light;

    h5 {
      margin: 0.7857rem;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $dark-color;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 2.0714rem;
    margin-right: .5rem;
    width: 9.6429rem;
    height: 2.8571rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: 2.5rem;
    }
  }

  &__up-btn {
    position: absolute;
    bottom: 1.5714rem;
    right: 0;
    width: 2.8571rem;
    height: 2.8571rem;
    border-radius: 2px;
    background-color: $dark-color;
    border: none;
    cursor: pointer;

    opacity: 1;

    &::after {
      position: absolute;
      top: 18px;
      left: 15px;
      display: block;
      content: '';

      width: 8px;
      height: 8px;

      border: solid 1px $white-color;
      border-bottom: transparent;
      border-left: transparent;

      transform: rotate(-45deg);
    }

    @include transition(600ms);

    &:hover,
    &:active {
      background-color: $primary-color;
    }

    @include media-breakpoint-down(lg) {
      right: 2%;
      bottom: -1.3em;
    }
  }
}

.footer-socials {
  position: relative;

  .socials-icons {
    display: flex;
    position: relative;
    z-index: 2;
    left: 0;
    flex-direction: row;
    height: auto;

    a {
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 0.9286rem;
      padding-top: 4px;

      border-radius: 5px;
      //background-color: $grey-color;
      border: solid 1px $grey-color;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 1.9286rem;
    margin-bottom: 1.5rem;
    border-bottom: solid 1px $grey-color-light;
  }
}

//***************  scrollbar creative my  ***************//
//::-webkit-scrollbar {
//  width: 3px;
//  height: 3px;
//}
//
//::-webkit-scrollbar-thumb {
//  -webkit-border-radius: 5px;
//  border-radius: 5px;
//  background-image: linear-gradient(to top, #f6c80e 0, $second-color);
//}
//
//::-webkit-scrollbar-track {
//  background: rgba(0, 0, 0, .2);
//  -webkit-border-radius: 5px;
//  border-radius: 5px;
//}

//***************  scrollbar no so beauty ***************//

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: linear-gradient(to top, $grey-color, $grey-color);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .1);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

//***************  html[dir="rtl"] ***************//

html[dir="rtl"] {

  //***************  header ***************//
  .header-top-block {
    margin-bottom: 1.3571rem;
    max-height: 2.8571rem;
    //background-color: $bg-color-light;

    &__menu-left {
      //flex-direction: row-reverse;
      padding-right: 1.2143rem;
    }

    .navbar-nav {
      //flex-direction: row-reverse;
    }

    .navbar-nav .nav-link {

      @media (max-width: 1115.98px) {
        padding: 0 0 0 .3rem;
      }
    }

    &__item {
      text-align: right;

      a {
        text-align: right;
      }
    }

    &__link {
      display: block;
      float: right;
      padding: 0.85rem 1.3rem .7rem 0;
      text-align: left;
    }
  }

  .header-dropdown-block {
    float: right;

    &::before {
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      content: '';
      width: 1px;
      height: 1.2857rem;
      border: solid 1px $grey-color;
    }

    &::after {
      display: none;
    }

    &__selected {
      padding: .7rem 0 .7rem 1.3571rem;
      margin-left: 1.2143rem;

      background: url("../img/-e-dropdown.png") left center no-repeat;

      span {
        text-align: right;
      }
    }

    &__selected.active .header-dropdown-block__dropdown {
      padding: .6429rem 0 .6429rem;
      margin-right: -1rem;
      margin-left: auto;
      width: 100%;
    }

    &__selected-flag {
      margin-left: 0.7857rem;
    }

    ul {

      li {
        display: flex;
        //flex-direction: row-reverse;
      }
    }

    &__btn {
      text-align: right;
    }

    &__link {
      text-align: right;
    }
  }

  #form-language .header-dropdown-block__selected {
    padding-right: 1.1429rem;
    padding-left: 1.5rem;
    margin-left: 0;
  }

  #account-block .header-dropdown-block__selected {
    padding-right: 1.4286rem;
    padding-left: 2.1429rem;
    margin-left: 0;
    margin-right: auto;

    background-position: left 1rem center;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
      p {

        text-align: right;
      }
    }
  }

  #form-search .header-dropdown-block__selected {
    float: right;
    margin-left: 1rem;
    margin-right: auto;

    padding-left: 3rem;
    padding-right: 1rem;

    background-position: left 11px center;
    border-left: none;

    &::after {
      left: 0;
      right: auto;
    }
  }

  .header-logo {

  }

  .header-dropdown-block_search {

    &::before {
      display: none;
    }

    &.active {
      display: flex;
    }

    select {
      text-align: right;

      option {
      }
    }

    .form-control {
      padding-right: 0;

      text-align: right;
    }

    &-btn {
      border: none;
      border-right: solid 1px $grey-color-light;
    }
  }

  .search-parent {

  }

  .search-btn {

  }

  .header-dropdown-block_search {

    .header-dropdown-block__selected .header-dropdown-block__dropdown {
      margin-right: -1rem;
      margin-left: 0;
    }
  }

  .header-cart-button {
    text-align: left;

    &_btn[data-count] {
      &::before {
        display: block;
        content: attr(data-count);

        width: 1rem;
        height: 1rem;

        border-radius: 50%;
        color: $white-color;

        background: #ef8513;
        position: absolute;
        top: 0;
        right: 50%;
        margin-right: -16px;
        z-index: 2;
        line-height: 14px;
        text-align: center;

        font-family: HurmeGeometricSans1;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
      }

      &::after {
        display: none;
      }
    }
  }

  //***************  menu ***************//

  .menu-header-block {

    .navbar {
      padding: 1.2143rem 1rem 0;
    }

    .navbar-nav-scrolling {

      @include media-breakpoint-down(lg) {
        right: 0;
        left: auto;
      }
    }

    .navbar-nav {
      padding-left: 0;
      padding-right: 0;

      .nav-item-hot .nav-link {
        &::before {
          right: 10px;
          left: auto;
        }

        &::after {
          right: 17px;
          left: auto;

          border: solid 9px $second-color;
          border-left: transparent;
          border-top: transparent;

          transform: rotate(45deg);
        }
      }

      a {
        text-align: right;
      }
    }

    .navbar-collapse {

      //for mobiles menu
      @include media-breakpoint-down(lg) {
        right: 0;
        left: auto;

        transform: translateX(105%);

        &.show {
          transform: translateX(0);
        }

        .header-logo {
          float: right;
          margin: auto;
          margin-right: 86px;
          margin-bottom: 12px;
        }

        .close {
          float: left;
        }

        .icon-forward {
          display: block;
          float: left;

          border: solid 2px #6a6563;
          border-left: transparent;
          border-bottom: transparent;

          transform: rotate(-135deg);
        }

        .icon-back { //RECHECK
          margin-right: auto;
          margin-left: 20px;

          border: solid 2px #6a6563;
          border-right: transparent;
          border-bottom: transparent;

          transform: rotate(45deg);
        }

        .nav-item:last-child .nav-link {
          &::before {
            right: 0;
            left: auto;
          }

          &::after {
            right: 7px;
            left: auto;
          }
        }

        .header-top-block__link {
          float: right;
        }

        //mobile submenu
        .menu-header-block__dropdown {
          left: auto;
          right: 0;
        }

        .menu-header-block__title-back {
          padding-right: 0;
          padding-left: 0;
          text-align: right;

          &::before {
            left: 0;
            right: auto;
          }
        }

        #form-country {
          .header-dropdown-block__dropdown {
            margin-right: -1rem;
            margin-left: auto;
          }
        }
      }
    }

    &__column-parent {
      float: right;
      margin-left: 2.8571rem;
      margin-right: auto;

      &:last-child {
        margin-right: auto;
        margin-left: 0;
      }
    }

    &__column {
      display: block;
      float: right;
      margin-right: auto;
      margin-left: 2.6429rem;

      &:last-child {
        margin-right: auto;
        margin-left: 0;
      }
    }

    &__title {
      direction: rtl;
      text-align: right;
    }

    &-brands {

      &__item {
        margin-right: auto;
        margin-left: 1.4286rem;

        &:last-child {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }

  //***************  slider ***************//

  .slider {

    &__title {
      left: auto;
      right: 3.3571rem;

      @include media-breakpoint-down(sm) {
        top: 5.1429rem;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
      }
    }

    &__btn {
      left: auto;
      right: 2.1429rem;

      @include media-breakpoint-down(sm) {
        left: 0;
        right: 0;
      }
    }

    &__count {
      left: 2.1429rem;
      right: auto;

      p {
        text-align: right;
      }

      @include media-breakpoint-down(sm) {
        left: 1em;
        right: auto;
      }
    }
  }

  .slider .owl-carousel .owl-item img {

    @include media-breakpoint-down(sm) {
      width: 200%;
      object-position: 120% 50%;
    }
  }

  .slider .owl-dots {
    left: -1.2857rem;
    right: auto;

    @media (max-width: 1300px) {
      right: auto;
      left: -1em;
    }
  }

  .socials-icons {
    right: -1.0714rem;
    left: auto;
  }

  //***************  product-block ***************//

  .product-block {

    &__title {
      float: right;

      text-align: right;

      &_smaller {
        float: right;

        text-align: right;
      }
    }

    &__all {
      float: left;

      padding-left: 1.1rem;
      padding-right: 0;
      text-align: left;

      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: auto;
        left: 0;

        width: 5px;
        height: 5px;
        border: solid 1px $grey-color;
        border-left: transparent;
        border-bottom: transparent;

        transform: rotate(-135deg);
      }
    }

    &-items {
      padding: 0 .7rem 0;

      .owl-item {
        float: right;
      }
    }

    &__discount-sum {
      right: auto;
      left: 0;
    }

    &-info {

      a,
      &__link {
        text-align: right;

        &_title {
          text-align: right;
        }

        &_subtitle {
          text-align: right;
        }
      }

      &__price {
        float: right;
        text-align: right;

        span {
          text-align: right;
        }
      }

      &__price_new {
        float: right;
        text-align: right;
        margin-left: .5rem;
        span {
          text-align: right;
        }
      }

      &__price_old {
        float: right;
        text-align: right;
        span {
          text-align: right;
        }
      }

      &__btn {
        float: left;
        text-align: left;

        &-icon {
          left: auto;
          right: 0;
        }
      }
    }

    &__item-title {
      text-align: right;

      span {
        text-align: right;

        b {
          text-align: right;
        }
      }
    }
  }

  //for first discount picture
  .product-block__item_first {

    .product-block-info {

      &__title {
        text-align: right;
      }

      &__btn_first-btn {
        float: right;
      }
    }

  }

  //***************  stuff-block ***************//

  .stuff-block {

    &__title-main {
      text-align: right;
    }

    &__title-hand {
      text-align: right;
    }

    &-parent-link {
      &:hover,
      &:active {

        .arrow {
          right: auto;
          left: -5px;
          transform: scale(-1.2);
        }
      }
    }

    &__title {
      right: 2.1429rem;
      left: auto;
      text-align: right;

      @include media-breakpoint-down(md) {
        right: 1.1429rem;
        left: auto;
      }
    }

    &__subtitle {
      right: 2.1429rem;
      left: auto;
      text-align: right;

      @include media-breakpoint-down(md) {
        right: 1.1429rem;
        left: auto;
      }
    }

    &__title-image {
      right: 2.1429rem;
      left: auto;

      @include media-breakpoint-down(md) {
        right: 1.5rem;
        left: auto;
      }
    }

    &__link {
      right: 2.1429rem;
      left: auto;

      padding-left: 2rem;
      padding-right: 0;
      text-align: right;

      &:hover,
      &:active {
        .arrow {
          left: -5px;
          right: auto;
        }
      }

      .arrow {
        left: 0;
        right: auto;

        transform: scaleX(-1);
      }

      @include media-breakpoint-down(md) {
        right: 1.1429rem;
        left: auto;
      }

      @include media-breakpoint-down(sm) {
        right: 1.1429rem;
        left: auto;
      }
    }
  }

  .stuff-block-menu {

    .stuff-block__item {
      margin-left: 1.4286rem;
      margin-right: auto;

      &:last-child {
        margin-left: 0;
      }
    }

    .stuff-block__title {
      right: 0.5714rem;
      left: auto;
    }

    .stuff-block__subtitle {
      right: 0.5714rem;
      left: auto;
    }

    .stuff-block__link {
      right: 0.5714rem;
      left: auto;
      padding-left: 2rem;
      padding-right: auto;

      &:hover,
      &:active {
        .arrow {
          left: -5px;
          right: auto;
        }
      }

      .arrow {
        left: 0;
        right: auto;
      }
    }
  }

  //***************  brands - brands-slider ***************//

  .brands-slider {
    flex-direction: row-reverse;

    &__item {
      float: right;

      margin-left: 1rem;
      margin-right: 0;
    }

    .owl-item {
      float: right;
    }
  }

  //***************  .sign-up ***************//

  .sign-up {

    &__image {
      position: absolute;
      right: 0;
    }

  }

  .sign-up-form {
    text-align: right;

    &__title {
      text-align: right;
    }

    input::placeholder {
      text-align: right;
    }

    .form-control {
      text-align: right;
    }

    &__btn {

      @include media-breakpoint-down(sm) {
        margin-left: .5rem;
        margin-right: 0;
      }
    }
  }

  //***************  adv-block ***************//
  .adv-block-parent {

  }

  .adv-block {
    padding-right: 3.5rem; //49px;
    padding-left: 0;

    &:last-child {
      padding-right: 4.2143rem; // 59px;
      padding-left: 0;
    }

    &__title {
      text-align: right;
    }

    &__subtitle {
      text-align: right;
    }

    @include media-breakpoint-down(lg) {
      margin-left: auto;
      margin-right: 0;
    }
  }

  @for $i from 1 to 5 {
    .adv-block-#{$i} {
      background: url("../img/adv-#{$i}.svg") right top no-repeat;
    }
  }

  //***************  footer ***************//

  footer {

    .navbar-nav {
      padding-right: 0;
    }

    .nav-link {
      text-align: right;
    }
  }

  .footer {

    &-logo {

    }

    &__title {
      text-align: right;
    }

    &__subtitle {
      display: block;
      text-align: right;
    }

    &__tel {
      display: block;
      text-align: right;
    }

    &__work-time {
      text-align: right;
    }

    &__link {
      display: block;
      float: right;
      margin-left: .5rem;
      margin-right: auto;
    }

    &__up-btn {
      right: auto;
      left: 0;

      &::after {
        right: 15px;
        left: auto;

        border: solid 1px $white-color;
        border-bottom: transparent;
        border-left: transparent;

        transform: rotate(-45deg);
      }

      @include media-breakpoint-down(lg) {
        right: auto;
        left: 2%;
      }
    }
  }

  .footer-socials {

    .socials-icons {
      left: auto;
      right: 0;
      flex-direction: row;
      height: auto;

      a {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 0.9286rem;
        margin-right: 0;
        padding-top: 4px;

        border-radius: 5px;
        //background-color: $grey-color;
        border: solid 1px $grey-color;
      }
    }
  }

}

.test-row {
  &__black {
    background: lightgrey;
  }

  &__red {
    background-color: lightsalmon;
  }
}

html[dir="rtl"] {
  .test-row {
    &__black {
      text-align: right;
    }

    &__red {
      text-align: right;
    }
  }
}

//***************  categories ***************//
//***************  navigation ***************//

.navigation {
  margin-bottom: 1.4286rem;
  background: url('../img/women.png') center no-repeat;

  h1 {
    margin-top: 5.7857rem;
    margin-bottom: 2rem;

    font-family: 'HurmeGeometricSans1-SemiBold';
    font-size: 3rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.36;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;

    @include media-breakpoint-down(lg) {
      margin-top: 1.8571rem;
      margin-bottom: 0.6429rem;

      font-size: 1.5714rem;
    }
  }

  .breadcrumb {
    padding: 0;
    margin-bottom: 6rem;
    background: transparent;

    @include media-breakpoint-down(lg) {
      margin-bottom: 1.6429rem;
    }
  }

  .breadcrumb-item {
    a {
      color: $grey-color;

      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;
    }

    .active {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;

      color: $dark-color;
    }
  }

  @include media-breakpoint-down(lg) {
    margin-top: 51px;
  }
}

//***************  navigation ***************//

.stuff-block__title {
  &_shop-top {
    top: 2.7857rem;
  }

  &_shop-categories {
    top: 2.7857rem;
    font-size: 1.8571rem;
  }
}

.stuff-block__subtitle {
  &_shop-top {
    top: 6.4286rem;

    @include media-breakpoint-down(lg) {
      top: 5.4rem;
    }
  }
}

.product-block {
  &_shop-categories {
    .owl-nav {
      top: 64px;
    }
  }
}

.shop-categories-carousel {
  overflow: hidden;

  .owl-stage {
    display: flex;
  }
  .stuff-block {
    margin-bottom: 2.2143rem;
    width: 271px;
    height: 142px;

    &__item {
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 3px;

        background-color: rgba(0, 0, 0, .2);

        @include transition(600ms);
      }

      &:hover,
      &:active {

        &::before {
          background-color: rgba(0, 0, 0, 0);
        }
      }
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 1.4286rem;
    }
  }

  owl-item {
    float: left;
    width: 271px;
    height: 142px;
  }
}

//***************  serach area ***************//
#form-shopsearch {
  margin-bottom: 2.5rem; // 35px;
}

.shopsearch {
  position: relative;
  max-width: 15.7143rem;

  &__input {
    padding: 1rem;
    width: 15.7143rem; //220px;
    height: 2.8571rem; //40px;

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;

    color: $grey-color;
    border-radius: 3px;
    border: solid 1px $grey-color;

    background: none;

    &::placeholder {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;

      color: $grey-color;
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }

  &__btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    width: 2.8571rem;
    height: 2.8571rem;

    border: none;
    background: transparent;

    cursor: pointer;
    border-radius: 3px;

    img {
      width: 12px;
      height: 12px;
    }
  }

  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}

//***************  filters ***************//
.filters {
  margin-bottom: 2.8571rem; //40px;

  &__btn {
    position: absolute;
    right: 0;
    display: inline-block;

    width: 2.8571rem;
    height: 2.8571rem;

    border: none;
    background: transparent;

    cursor: pointer;
    border-radius: 3px;

    img {
      width: 12px;
      height: 12px;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* remove default arrow */
    background: url("../img/-e-dropdown.png") right 14px center no-repeat;
  }

  #sort {

  }

  .form-control_select {
    float: left;
    margin-right: 10px; //19px;
    padding-left: 2.8rem;

    width: 140px;
    height: 2.8571rem; // 40px;

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: $dark-color;

    cursor: pointer;

    border-radius: 2px;
    border: solid 1px $grey-color;
    background: url("../img/ic-sort.png") left 12px center no-repeat,
                url("../img/-e-dropdown.png") right 14px center no-repeat;
  }



  // for dropdown block and mobile version lg and lower

  &-dropdown-block {
    margin-bottom: 1.4286rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__selected {
      position: relative;
      padding: 1.0714rem 1rem 0.9286rem 0.8571rem;
      margin: 0 1.3571rem 1.0714rem 0;
      width: 14.6429rem;

      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;

      color: $dark-color;
      border: solid 1px $grey-color;
      border-radius: 3px;

      cursor: pointer;

      span {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        color: $dark-color;

        &::selection {
          -webkit-user-select: all; /* Chrome all / Safari all */
          -moz-user-select: all; /* Firefox all */
          -ms-user-select: all; /* IE 10+ */
          user-select: all;
        }

        @include media-breakpoint-down(lg) {
          display: inline-block;
        }
      }

      &.active {
        border: solid 1px $dark-color;
        border-bottom: none;
        border-radius: 3px 3px 0 0;

        .filters-dropdown-block__dropdown {
          display: block;
        }

        .icon-down {
          transform: scaleY(-1);
        }

        @include media-breakpoint-down(lg) {
          border: none;
        }
      }

      &:nth-child(4),
      &:nth-child(8) {
        margin-right: 0;
      }

      .filters-selected-desc {
        &__list {
          margin: 1.4286rem 0 0;
          padding: 0;

          list-style: none;

          display: flex;
          flex-wrap: wrap;
        }

        &__item {
          font-size: 1rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;

          color: $grey-color;

          &::after {
            display: inline-block;
            content: ',\00a0';
          }

          &:last-child {
            &::after {
              display: none;
            }
          }

          span{
            font-weight: bold;
            color: inherit;
          }

          .icon-color{
            vertical-align: middle;
            margin-right: 6px;
          }
        }
      }


      &_filter-btn {
        float: right;
        margin-right: 0;
        padding: 0;
        width: 140px;
        height: 2.8571rem; //40px;

        text-align: left;

        border: solid 1px $grey-color;
        background: none;

        cursor: pointer;

        &:hover,
        &:active,
        &.active {
          border: solid 1px $primary-color;
          color: $dark-color;
          border-radius: 3px;

          .icon-filter-ok {
            visibility: visible;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        position: relative;
        padding: 0.8571rem;
        margin: 0;
        width: 100%;

        color: $dark-color;
        border: none;
        border-radius: 0;
      }
    }

    &__dropdown {
      position: absolute;
      z-index: 4;
      top: 100%;
      left: -1px;
      padding: 1.0714rem 1rem 0.9286rem 0.8571rem;
      display: none;
      width: inherit;

      background-color: $white-color;
      border: solid 1px $dark-color;
      border-top: none;
      border-radius: 0 0 3px 3px;

      .form-inline {
        margin-bottom: 1.0714rem;
      }

      .form-control {
        height: 2.1429rem; // 30px;
      }
      .filters__btn {
        right: 1.5rem;
        width: 2.1429rem; // 30px;
        height: 2.1429rem; // 30px;
      }

      .filters-dropdown-block__title{
        padding: 0;
      }

      @include media-breakpoint-down(lg) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 65px;
        left: auto;

        padding-top: 0;
        padding-bottom: 0;

        width: 314px;

        border: none;
        border-radius: 0;
        background-color: $white-color;

        overflow: hidden;
      }
    }

    &__scrolling-area {
      display: inherit;
      justify-content: inherit;
      align-items: inherit;
      flex-wrap: inherit;

      @include media-breakpoint-down(lg) {

        position: absolute;
        top: 51px;
        right: 0;
        bottom: 65px;
        left: 0;

        min-height: 1rem;
        max-height: 100%;

        overflow: hidden;
        overflow-y: auto;
      }
    }

    &__scrolling {
      display: flex;
      flex-direction: column;

      min-height: 1rem; // 130px;
      max-height: 12.1429rem; // 170px;

      overflow: hidden;
      overflow-y: auto;

      &_rigth {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-right: 3px;
      }

      @include media-breakpoint-down(lg) {
        max-height: 100%;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      left: -9999px;
    }
    input[type="checkbox"] + label:before {
      margin-right: 1rem;
      vertical-align: middle;
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border: solid 1px $grey-color;
      border-radius: 3px;
      cursor: pointer;

      transition: border 200ms ease;
    }
    input[type="checkbox"]:checked + label:before {
      background: url("../img/ic_ok.png") center no-repeat;
      border: solid 1px $primary-color;
      cursor: pointer;
    }

    label {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;
      color: $dark-color;

      cursor: pointer;
    }

    .nav-tabs {
      padding-bottom: 1.07rem;
      margin-bottom: 0.5714rem;
      justify-content: space-between;
      width: 100%;

      a {
        font-size: 1rem;
        color: $grey-color;
        text-decoration: none;
      }

      .active a {
        color: $dark-color;
        padding-bottom: .9rem;
        border-bottom: solid 2px $dark-color;
      }
    }

    &__size {
      margin: .5rem 0;
      padding: 1.1429rem 2.1429rem;
      color: $primary-color;
      border: solid 1px $primary-color;
      border-radius: 3px;
    }

    .color{

      &::after {
        float: right;
        margin-right: 1.07rem;
        display: inline-block;
        content: "";
        width: 15px;
        height: 15px;
        background-color: lightgrey;
        border: transparent;
        border-radius: 3px;
      }

      &[data-color='golden'] {
        &::after {
          background-color: gold;
        }
      }

      &[data-color='pink'] {
        &::after {
          background-color: pink;
        }
      }

      &[data-color='brown'] {
        &::after {
          background-color: brown;
        }
      }

      &[data-color='Red'] {
        &::after {
          background-color: Red;
        }
      }

      &[data-color='Blue'] {
        &::after {
          background-color: Blue;
        }
      }

      &[data-color='Beige'] {
        &::after {
          background-color: Beige;
        }
      }
      &[data-color='White'] {
        &::after {
          background-color: White;
        }
      }
      &[data-color='Velvet'] {
        &::after {
          background-color: violet;
        }
      }
    }

    .price {

      &__desc {
        margin-bottom: calc(1.6429rem + 12px);

        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;

        color: $grey-color;
      }
    }

    .range-controls {
      display: flex;
      margin: 1.6rem auto;
      position: relative;
    }

    .scale {
      width: 100%;
      height: 3px;
      background-color: $grey-color-light;
    }

    .bar {
      background-color: $dark-color;
      height: 3px;
    }

    .toggle {
      height: 24px;
      width: 24px;
      background-color: $white-color;
      border: solid 1px $dark-color;
      border-radius: 50%;

      position: absolute;
      top: -12px;

      &.min-toggle {
        left: 0;
      }
      &.max-toggle {
        left: 90px;
      }
    }

    .price-controls {
      padding-bottom: 1.6429rem;
      margin-bottom: 1.1429rem;
      display: flex;
      justify-content: space-between;

      text-transform: uppercase;
      color: $grey-color;
      border-bottom: solid 1px $grey-color-light;

      label {
        min-width: 50px;
        font-family: 'HurmeGeometricSans1-SemiBold';
        color: $primary-color;
        font-weight: 800;

        &:last-child{
          text-align: right;
        }
      }
    }

    &__show-results{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      margin-bottom: 1.0714rem;

      width: 278px;
      height: 40px;

      font-size: 1rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;

      color: $white-color;

      background-color: $primary-color;
      border: none;
      border-radius: 3px;
    }

    @include media-breakpoint-down(lg) {
      display: none;
      position: fixed;
      z-index: 3;
      top: 0;
      right: 0;
      bottom: 0;

      width: 314px;
      height: 100vh;

      background-color: $white-color;

      &__title {
        display: flex;
        align-items: center;
        padding: 1.1429rem 1rem;
        margin-bottom: 18px;
        width: 100%;
        height: 50px;
        border-bottom: solid 1px $grey-color-light;

        button{
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;

          font-size: 1.2857rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;

          color: $dark-color;
          border: none;
          background: none;
        }

        .icon-close {
          float: left;
          padding: 0;
          margin: 0;
          margin-right: 1.3571rem;

          width: 16px;
          height: 16px;
          background: url("../img/ic-close.svg") center no-repeat;
        }
      }

      p {
        margin: auto 0 auto auto;

        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.07;
        letter-spacing: normal;
        color: $grey-color;

        border: none;
        background: none;
      }
    }
  }

  .show-all-filters {
    display: inline-block;
    padding: 0;
    padding-right: 0.7rem;
    margin: 0;
    margin-bottom: 1.7857rem;

    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;

    color: $grey-color;
    cursor: pointer;

    background-color: transparent;
    border: none;

    outline: none;

    @include transition(600ms);

    .icon-down {
      margin-left: 0.6429rem;
    }

    &.active {
      color: $primary-color;

      .icon-down {
        background: url("../img/-e-dropdown-orange.png") center no-repeat;
      }
    }

    @include media-breakpoint-down(lg){
      display: none;
    }
  }

  .icon-sort {
    margin-right: 0.7857rem;
    display: inline-block;
    width: 22px;
    height: 10px;
    background: url("../img/ic-sort.png") left center no-repeat;
  }

  .icon-filter {
    float: left;
    display: inline-block;
    margin: 3px 11px;
    width: 13px;
    height: 12px;
    background: url("../img/-e-ic_filter.png") center no-repeat;
  }

  .icon-filter-ok {
    float: right;
    display: block;
    margin: 4px 11px;
    width: 12px;
    height: 10px;
    background: url("../img/-e-ic_ok.png") center no-repeat;

    visibility: hidden;
  }

  .icon-down {
    float: right;
    display: block;
    margin: 3px auto;
    width: 9px;
    height: 6px;
    background: url("../img/dropdown.svg") center no-repeat;
  }
}

//*************** slider styles - example what i done before ***************//
/* Ширина слайдера slider-range
для ползунков позаимствовал инфу с http://xiper.net/collect/js-plugins/ui/jquery-ui-slider*/
#slider {
  width: 200px;
}

/* Контейнер слайдера */
.ui-slider {
  position: relative;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 18px; /* Задаем нужную ширину */
  height: 18px; /* и высоту */
  background-color: $white-color; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  border: solid 1px $dark-color;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 3px; /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  top: -8px;
  margin-left: -6px;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  //border: 1px solid #818181;
  background: $grey-color-light;
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  border: 1px solid $dark-color;
  background: $dark-color;
}

/* скругление для полосы слайдера */
.ui-corner-all {
  border-radius: 10px;
}

.filters-selected {
  margin-bottom: 2.7143rem;
  display: none;

  &.active {
    display: block;
  }

  #reset-btn {
    padding: 1rem;
    color: $white-color;
    background-color: $grey-color;

    cursor: pointer;

    @include transition(600ms);

    &:hover,
    &:active {
      background-color: $second-color;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  &__item {
    padding: 1rem 0 0 1.07rem;
    margin: 0 1.0714rem 1.0714rem 0;
    height: 40px;

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;

    color: $grey-color;
    border-radius: 3px;

    background-color: $grey-color-light;

    @include transition(600ms);

    &:hover,
    &:active {
      color: $white-color;
      background-color: $grey-color;
    }

    span {
      font-weight: bold;
    }
  }
}

//***************  icons ***************//

.icon-forward {
  display: inline-block;
  margin-top: 6px;
  float: right;
  width: 10px;
  height: 10px;

  border: solid 2px #6a6563;
  border-left: transparent;
  border-bottom: transparent;

  transform: rotate(45deg);
}

.icon-back {
  display: inline-block;
  margin-right: 20px;
  width: 10px;
  height: 10px;

  border: solid 2px #6a6563;
  border-right: transparent;
  border-bottom: transparent;

  transform: rotate(-45deg);
}

.icon-close {
  float: right;
  display: block;
  padding: 15px;
  margin: 0;
  margin-top: -8px;
  width: 10px;
  height: 9px;
  background: url("../img/ic-close.svg") center no-repeat;

  cursor: pointer;

  @include transition(600ms);

  &:hover,
  &:active {
    transform: rotate(360deg);
  }
}

.icon-color {
  display: block;
  float: left;
  margin-right: 1.07rem;

  content: "";
  width: 15px;
  height: 15px;
  background-color: lightgrey;
  border: transparent;
  border-radius: 3px;

  &[data-color='golden'] {
    background-color: gold;
  }

  &[data-color='red'] {
    background-color: red;
  }

}

//***************  shop-menu ***************//
.shop-menu {
  max-width: 15.7143rem;
  margin-bottom: 2.1429rem;

  .navbar-nav .nav-link {

    padding: 0.8571rem 1rem;

    font-size: 1.2857rem;
    font-weight: bold;
    line-height: 0.83;
    color: $dark-color;

    span {
      font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;

      color: $grey-color;
    }
  }

  .nav-item.active .nav-link {
    color: $primary-color;
  }

  .dropdown-toggle {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      display: block;

      margin: auto 0;
      width: 10px;
      height: 10px;
      background: url('../img/+.png') center no-repeat;
      border: none;
    }
  }

  .dropdown.show > .dropdown-toggle {
    &::after {
      width: 10px;
      height: 3px;

      background: none;
      background-color: #ff6900;
    }
  }

  .dropdown-submenu .dropdown-toggle {
    &::after {
      width: 8px;
      height: 8px;
    }
  }

  .dropdown-submenu.show > .dropdown-toggle {
    &::after {
      width: 8px;
      height: 3px;
    }
  }

  .dropdown.show > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    margin: 0.3571rem 1rem;
    padding: 0;
    border: none;
  }

  .dropdown-item {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;

    color: $dark-color;
    @include transition(600ms);

    &:hover,
    &:active {
      color: $primary-color;
      background-color: transparent;
    }

    span {
      font-size: 1rem;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.07;
      letter-spacing: normal;

      color: $grey-color;
    }

  }

  &_special {
    width: 220px;
    height: 329px;

    .product-block__item {
      margin-right: 0;
    }

    .product-block__item_first {
      width: 100%;
      margin-right: 0;
    }

    .product-block__image {
      width: 100%;
      height: 100%;
    }

    .product-block__item-title {
      position: absolute;
      top: 2.4286rem;
      left: 1.0714rem;
      right: 2.1429rem;
      margin: auto;
      padding: 2.3571rem 0 3.6429rem 1.9286rem;
      display: block;
      width: 175px;
      height: 139px;
      border: solid 2px #fff;
      text-transform: none;

      font-family: 'HurmeGeometricSans1-SemiBold';
      font-size: 26px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;

      color: $dark-color;

      span {
        font-size: 26px;
        color: $primary-color;
      }
    }

    a {
      &::before {
        background: none;
        background-color: lightsalmon;
        opacity: .3;
      }
    }

    .stuff-block__link {
      cursor: pointer;
      color: $dark-color;
      border-color: $dark-color;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}