doctype html
html(lang='ru')
    include ./includes/head.jade

    body
        .container-fluid.px-0.mx-0
            include includes/header
            .container
                .row
                    .col-12.px-0
                        .slider
                            .socials-icons
                                a.socials-icons__link(href='https://www.facebook.com/', target='_blank')
                                    span.fa.fa-facebook
                                a.socials-icons__link(href='https://twitter.com/', target='_blank')
                                    span.fa.fa-twitter
                                a.socials-icons__link(href='https://instagram.com/', target='_blank')
                                    span.fa.fa-youtube
                                a.socials-icons__link(href='https://instagram.com/', target='_blank')
                                    span.fa.fa-instagram
                            .owl-carousel.owl-theme
                                .item
                                    .slider__title
                                        p.slider__title_add Hot & Trends for Summer
                                        p.slider__title_main Get the look
                                        p.slider__title_add  Men & Women
                                    img.slider__image(src='assets/img/banner-top.jpg', alt="image_desc", width='', height='')
                                    button.btn.slider__btn Explore
                                    .slider__count
                                        p
                                        span 01
                                        | /03
                                .item
                                    .slider__title
                                        p.slider__title_add Hot & Trends for Summer
                                        p.slider__title_main Get the look
                                        p.slider__title_add  Men & Women
                                    img.slider__image(src='assets/img/banner-top.jpg', alt="image_desc", width='', height='')
                                    button.btn.slider__btn Explore
                                    .slider__count
                                        p
                                        span 02
                                        | /03
                                .item
                                    .slider__title
                                        p.slider__title_add Hot & Trends for Summer
                                        p.slider__title_main Get the look
                                        p.slider__title_add  Men & Women
                                    img.slider__image(src='assets/img/banner-top.jpg', alt="image_desc", width='', height='')
                                    button.btn.slider__btn Explore
                                    .slider__count
                                        p
                                        span 03
                                        | /03
                .row
                    .col-12.px-md-0
                        h2.product-block__title Deals of the Day
                        a.product-block__all(href='#', target='_blank') See all
                .row
                    .col-12.px-md-0
                        .product-block.clearfix
                            .product-block-items.owl-theme
                                .product-block__item.product-block__item_first
                                    .product-block__image
                                        a(href='#')
                                            img.product-block__image_filter(src='assets/img/deals-1.jpg', alt="image_desc", width='', height='')
                                    p.product-block__item-title
                                        | Deals up
                                        br
                                        span to&nbsp;
                                            b 70%
                                            | &nbsp;OFF!
                                    .product-block-info
                                        a.product-block-info__link_title(href='#') SALE!
                                        a.product-block-info__link_subtitle(href='#') Deals up to 70% OFF!
                                        button.btn.product-block-info__btn_first-btn Shop NOW
                                mixin product-block-mixin(imageName)
                                    .product-block__item
                                        .product-block__image
                                            a(href='#')
                                                img(src="assets/img/#{imageName}.jpg", alt="image_desc", width='', height='')
                                        p.product-block__discount-sum -50%
                                        .product-block__timer
                                            p.product-block__timer_h 11&nbsp;
                                                span h :&nbsp;
                                            p.product-block__timer_m 18&nbsp;
                                                span m :&nbsp;
                                            p.product-block__timer_s 39&nbsp;
                                                span s
                                        .product-block-info
                                            a.product-block-info__link_title(href='#') Pearl Queen
                                            a.product-block-info__link_subtitle(href='#') Modest Pink Zigzag Abaya X
                                            p.product-block-info__price_new 128.97&nbsp;
                                                span AED
                                            p.product-block-info__price_old 195.97 AED
                                            button.product-block-info__btn
                                                //i.fa.fa-heart-o(aria-hidden='true')
                                                img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                +product-block-mixin("deals-2")
                                +product-block-mixin("deals-3")
                                +product-block-mixin("deals-4")
                                +product-block-mixin("deals-3")
                                +product-block-mixin("deals-4")
                                +product-block-mixin("deals-2")
                .row
                    .col.px-md-0
                        h2.stuff-block__title-main New Arrivals
                .row
                    .col-12.col-md-6.pl-md-0.pr-md-2
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    h4.stuff-block__title Sport collection
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/arrivals-1.jpg', alt="image_desc", width='577', height='453')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    h4.stuff-block__title Trendy Watches
                                    p.stuff-block__subtitle For him
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/arrivals-2.jpg', alt="image_desc", width='577', height='453')
                    .col-12.col-md-6.pr-md-0.pl-md-2
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_short
                                    h4.stuff-block__title Sport collection
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/arrivals-3.jpg', alt="image_desc", width='577', height='297')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_short
                                    h4.stuff-block__title Trendy Handbags20char
                                    p.stuff-block__subtitle Suit all tastes
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/arrivals-4.jpg', alt="image_desc", width='577', height='297')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_short
                                    h4.stuff-block__title Shoes Collection
                                    p.stuff-block__subtitle For her
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/arrivals-5.jpg', alt="image_desc", width='577', height='297')
                .row
                    .col.px-md-0
                        h2.stuff-block__title-main Men
                        h3.stuff-block__title-hand Watches
                .row
                    .col-12.col-md-7.pl-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    img.stuff-block__title-image(src='assets/img/casio.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/watches-1.jpg', alt="image_desc", width='665', height='453')
                    .col-12.col-md-5.pl-md-0.pr-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/armani_exchange-logo.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/watches-2.jpg', alt="image_desc", width='489', height='219')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/skagen.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/watches-3.jpg', alt="image_desc", width='489', height='219')
                .row
                    .col.px-md-0
                        h2.product-block__title.product-block__title_smaller More brands
                .row
                    .col.px-md-0
                        .brands-slider.owl-theme
                            mixin brands-slider-mixin(imageName)
                                .brands-slider__item
                                    a.brands-slider__link(href='#')
                                        img.brands-slider__image(src="assets/img/#{imageName}.jpg", alt="image_desc")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                .row
                    .col-12.px-md-0
                        h2.product-block__title.product-block__title_smaller Our selection
                        a.product-block__all(href='#', target='_blank') See all
                .row
                    .col-12.px-md-0
                        .product-block.clearfix
                            .product-block-items.owl-theme
                                mixin product-block-mixin(imageName)
                                    .product-block__item
                                        .product-block__image
                                            a(href='#')
                                                img(src="assets/img/#{imageName}.jpg", alt="image_desc", width='', height='')
                                        p.product-block__discount-sum -50%
                                        .product-block-info
                                            a.product-block-info__link_title(href='#') Casio
                                            a.product-block-info__link_subtitle(href='#') EDIFICE Analog Silver Frame Blue Dial with Brown Leather Strap Watch
                                            p.product-block-info__price_new 128.97&nbsp;
                                                span AED
                                            p.product-block-info__price_old 195.97 AED
                                            button.product-block-info__btn
                                                //i.fa.fa-heart-o(aria-hidden='true')
                                                img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                +product-block-mixin("casio1")
                                +product-block-mixin("casio2")
                                +product-block-mixin("casio3")
                                +product-block-mixin("casio4")
                                +product-block-mixin("casio2")
                                +product-block-mixin("casio2")
                                +product-block-mixin("casio2")
                                +product-block-mixin("casio4")
                .row
                    .col.px-md-0
                        h3.stuff-block__title-hand Perfumes
                .row
                    .col-12.col-md-7.pl-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    img.stuff-block__title-image(src='assets/img/logo12.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/perfumes1.png', alt="image_desc", width='', height='')
                    .col-12.col-md-5.pl-md-0.pr-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/logo13.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/perfumes2.png', alt="image_desc", width='', height='')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/logo14.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/perfumes3.png', alt="image_desc", width='', height='')
                .row
                    .col.px-md-0
                        h2.product-block__title.product-block__title_smaller More brands
                .row
                    .col.px-md-0
                        .brands-slider.owl-theme
                            mixin brands-slider-mixin(imageName)
                                .brands-slider__item
                                    a.brands-slider__link(href='#')
                                        img.brands-slider__image(src="assets/img/#{imageName}.jpg", alt="image_desc")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                .row
                    .col-12.px-md-0
                        h2.product-block__title.product-block__title_smaller Our selection
                        a.product-block__all(href='#', target='_blank') See all
                .row
                    .col-12.px-md-0
                        .product-block.clearfix
                            .product-block-items.owl-theme
                                mixin product-block-mixin(imageName)
                                    .product-block__item
                                        .product-block__image
                                            a(href='#')
                                                img(src="assets/img/#{imageName}.jpg", alt="image_desc", width='', height='')
                                        p.product-block__discount-sum -50%
                                        .product-block-info
                                            a.product-block-info__link_title(href='#') Hugo Boss
                                            a.product-block-info__link_subtitle(href='#') Men Boss Bottled Collector's Edition Eau de Toilette - 100ml
                                            p.product-block-info__price 128.97&nbsp;
                                                span AED
                                            button.product-block-info__btn
                                                //i.fa.fa-heart-o(aria-hidden='true')
                                                img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                +product-block-mixin("perfumes_product1")
                                +product-block-mixin("perfumes_product2")
                                +product-block-mixin("perfumes_product3")
                                +product-block-mixin("perfumes_product4")
                                +product-block-mixin("perfumes_product1")
                                +product-block-mixin("perfumes_product4")
                                +product-block-mixin("perfumes_product1")
                                +product-block-mixin("perfumes_product2")
                .row
                    .col.px-md-0
                        h2.stuff-block__title-main Women
                        h3.stuff-block__title-hand Clothing
                .row
                    .col-12.col-md-7.pl-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    img.stuff-block__title-image(src='assets/img/logo10.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/clothes1.png', alt="image_desc", width='665', height='453')
                    .col-12.col-md-5.pl-md-0.pr-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/logo11.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/clothes2.png', alt="image_desc", width='665', height='453')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/bysi.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/clothes3.png', alt="image_desc", width='665', height='453')
                .row
                    .col.px-md-0
                        h2.product-block__title.product-block__title_smaller More brands
                .row
                    .col.px-md-0
                        .brands-slider.owl-theme
                            mixin brands-slider-mixin(imageName)
                                .brands-slider__item
                                    a.brands-slider__link(href='#')
                                        img.brands-slider__image(src="assets/img/#{imageName}.jpg", alt="image_desc")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                .row
                    .col-12.px-md-0
                        h2.product-block__title.product-block__title_smaller Our selection
                        a.product-block__all(href='#', target='_blank') See all
                .row
                    .col-12.px-md-0
                        .product-block.clearfix
                            .product-block-items.owl-theme
                                mixin product-block-mixin(imageName)
                                    .product-block__item
                                        .product-block__image
                                            a(href='#')
                                                img(src="assets/img/#{imageName}.jpg", alt="image_desc", width='', height='')
                                        p.product-block__discount-sum -50%
                                        .product-block-info
                                            a.product-block-info__link_title(href='#') Casio
                                            a.product-block-info__link_subtitle(href='#') EDIFICE Analog Silver Frame Blue Dial with Brown Leather Strap Watch
                                            p.product-block-info__price_new 128.97&nbsp;
                                                span AED
                                            p.product-block-info__price_old 195.97 AED
                                            button.product-block-info__btn
                                                //i.fa.fa-heart-o(aria-hidden='true')
                                                img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                +product-block-mixin("clothing_product1")
                                +product-block-mixin("clothing_product2")
                                +product-block-mixin("clothing_product3")
                                +product-block-mixin("clothing_product4")
                                +product-block-mixin("clothing_product2")
                                +product-block-mixin("clothing_product3")
                .row
                    .col.px-md-0
                        h3.stuff-block__title-hand Skin Care
                .row
                    .col-12.col-md-7.pl-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    img.stuff-block__title-image(src='assets/img/Layer 3186.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/skin1.jpg', alt="image_desc", width='', height='')
                    .col-12.col-md-5.pl-md-0.pr-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/Obagi_Medical_R_logo_color.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/skin2.jpg', alt="image_desc", width='', height='')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/Layer 3186.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/skin3.jpg', alt="image_desc", width='', height='')
                .row
                    .col.px-md-0
                        h2.product-block__title.product-block__title_smaller More brands
                .row
                    .col.px-md-0
                        .brands-slider.owl-theme
                            mixin brands-slider-mixin(imageName)
                                .brands-slider__item
                                    a.brands-slider__link(href='#')
                                        img.brands-slider__image(src="assets/img/#{imageName}.jpg", alt="image_desc")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand1")
                .row
                    .col-12.px-md-0
                        h2.product-block__title.product-block__title_smaller Our selection
                        a.product-block__all(href='#', target='_blank') See all
                .row
                    .col-12.px-md-0
                        .product-block.clearfix
                            .product-block-items.owl-theme
                                mixin product-block-mixin(imageName)
                                    .product-block__item
                                        .product-block__image
                                            a(href='#')
                                                img(src="assets/img/#{imageName}.jpg", alt="image_desc", width='', height='')
                                        p.product-block__discount-sum -50%
                                        .product-block-info
                                            a.product-block-info__link_title(href='#') Obagi
                                            a.product-block-info__link_subtitle(href='#') Gentle Rejuvenation Skin Calming Cream - 2.8 oz (80 g)
                                            p.product-block-info__price_new 128.97&nbsp;
                                                span AED
                                            p.product-block-info__price_old 195.97 AED
                                            button.product-block-info__btn
                                                //i.fa.fa-heart-o(aria-hidden='true')
                                                img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                +product-block-mixin("skin_product1")
                                +product-block-mixin("skin_product2")
                                +product-block-mixin("skin_product3")
                                +product-block-mixin("skin_product4")
                                +product-block-mixin("skin_product2")
                                +product-block-mixin("skin_product3")
                .row
                    .col.px-md-0
                        h2.stuff-block__title-main Sport
                .row
                    .col-12.col-md-7.pl-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    img.stuff-block__title-image(src='assets/img/logo4.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/sport1.jpg', alt="image_desc", width='665', height='453')
                    .col-12.col-md-5.pl-md-0.pr-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/logo5.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/sport2.jpg', alt="image_desc", width='489', height='219')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/logo6.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/sport3.jpg', alt="image_desc", width='489', height='219')
                .row
                    .col.px-md-0
                        h2.product-block__title.product-block__title_smaller More brands
                .row
                    .col.px-md-0
                        .brands-slider.owl-theme
                            mixin brands-slider-mixin(imageName)
                                .brands-slider__item
                                    a.brands-slider__link(href='#')
                                        img.brands-slider__image(src="assets/img/#{imageName}.jpg", alt="image_desc")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                .row
                    .col-12.px-md-0
                        h2.product-block__title.product-block__title_smaller Our selection
                        a.product-block__all(href='#', target='_blank') See all
                .row
                    .col-12.px-md-0
                        .product-block.clearfix
                            .product-block-items.owl-theme
                                mixin product-block-mixin(imageName)
                                    .product-block__item
                                        .product-block__image
                                            a(href='#')
                                                img(src="assets/img/#{imageName}.jpg", alt="image_desc", width='', height='')
                                        p.product-block__discount-sum -50%
                                        .product-block-info
                                            a.product-block-info__link_title(href='#') Adidas
                                            a.product-block-info__link_subtitle(href='#') Gold Plated Watch With a Black Dial For Men
                                            p.product-block-info__price_new 128.97&nbsp;
                                                span AED
                                            p.product-block-info__price_old 195.97 AED
                                            button.product-block-info__btn
                                                //i.fa.fa-heart-o(aria-hidden='true')
                                                img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                +product-block-mixin("sport_product1")
                                +product-block-mixin("skin_product2")
                                +product-block-mixin("sport_product2")
                                +product-block-mixin("sport_product4")
                                +product-block-mixin("sport_product2")
                                +product-block-mixin("sport_product1")
                                +product-block-mixin("sport_product4")
                .row
                    .col.px-md-0
                        h2.stuff-block__title-main Home
                .row
                    .col-12.col-md-7.pl-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item
                                    img.stuff-block__title-image(src='assets/img/logo1.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/home1.png', alt="image_desc", width='665', height='453')
                    .col-12.col-md-5.pl-md-0.pr-md-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/logo2.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/home2.png', alt="image_desc", width='665', height='453')
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_very-short
                                    img.stuff-block__title-image(src='assets/img/logo3.png', alt="image_desc", width='', height='')
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/home3.png', alt="image_desc", width='665', height='453')
                .row
                    .col.px-md-0
                        h2.product-block__title.product-block__title_smaller More brands
                .row
                    .col.px-md-0
                        .brands-slider.owl-theme
                            mixin brands-slider-mixin(imageName)
                                .brands-slider__item
                                    a.brands-slider__link(href='#')
                                        img.brands-slider__image(src="assets/img/#{imageName}.jpg", alt="image_desc")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                            +brands-slider-mixin("brand3")
                            +brands-slider-mixin("brand1")
                            +brands-slider-mixin("brand2")
                .row
                    .col-12.px-md-0
                        h2.product-block__title.product-block__title_smaller Our selection
                        a.product-block__all(href='#', target='_blank') See all
                .row
                    .col-12.px-md-0
                        .product-block.clearfix
                            .product-block-items.owl-theme
                                mixin product-block-mixin(imageName)
                                    .product-block__item
                                        .product-block__image
                                            a(href='#')
                                                img(src="assets/img/#{imageName}.jpg", alt="image_desc", width='', height='')
                                        p.product-block__discount-sum -50%
                                        .product-block-info
                                            a.product-block-info__link_title(href='#') Obagi
                                            a.product-block-info__link_subtitle(href='#') Gentle Rejuvenation Skin Calming Cream - 2.8 oz (80 g)
                                            p.product-block-info__price_new 128.97&nbsp;
                                                span AED
                                            p.product-block-info__price_old 195.97 AED
                                            button.product-block-info__btn
                                                //i.fa.fa-heart-o(aria-hidden='true')
                                                img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                +product-block-mixin("home_product1")
                                +product-block-mixin("home_product2")
                                +product-block-mixin("home_product3")
                                +product-block-mixin("home_product4")
                                +product-block-mixin("home_product3")
                                +product-block-mixin("home_product1")
            include ./includes/sign-up.jade
            include ./includes/footer.jade
            include ./includes/scripts.jade
