doctype html
html(lang='ru')
    include ./includes/head.jade

    body
        .container-fluid.px-0.mx-0
            include includes/header
            .navigation
                .container.px-xl-0
                    .row
                        .col-12
                            h1.navigation Women
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb
                                    li.breadcrumb-item
                                        a(href="#") Home
                                    li.breadcrumb-item.active(aria-current="page") Women
            .container.px-xl-0
                .row
                    .col-12.col-md-6.pr-xl-0
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_short
                                    h4.stuff-block__title.stuff-block__title_shop-top Accessories
                                    p.stuff-block__subtitle.stuff-block__subtitle_shop-top New Collection 2018 from Zyros
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/women-1.jpg', alt="image_desc", width='570', height='235')
                    .col-12.col-md-6
                        .stuff-block
                            a.stuff-block-parent-link(href='#')
                                .stuff-block__item.stuff-block__item_short
                                    h4.stuff-block__title.stuff-block__title_shop-top Shoes summer Collection
                                    .stuff-block__link(href='#') Shop now
                                        img.arrow(src='assets/img/arrow.svg', width='17', height='9')
                                    img.stuff-block__image(src='assets/img/banner2_Shoes.jpg', alt="image_desc", width='570', height='235')
                .row
                    .col-12
                        h2.product-block__title.product-block__title_smaller Women Shop Categories
                .row
                    .col-12.mx-xl-3
                        .product-block.product-block_shop-categories.clearfix.mb-0
                            .shop-categories-carousel
                                mixin shop-categories-carousel(title, imageName)
                                    .stuff-block
                                        a.stuff-block-parent-link(href='#')
                                            .stuff-block__item
                                                h4.stuff-block__title.stuff-block__title_shop-categories= title
                                                img.stuff-block__image(src='assets/img/#{imageName}.jpg', alt="image_desc", width='271', height='142')
                                +shop-categories-carousel("Clothing", "category_clothing")
                                +shop-categories-carousel("Beauty", "category_beauty")
                                +shop-categories-carousel("Shoes", "category_shoes")
                                +shop-categories-carousel("Jewellery", "category_jewellery")
                                +shop-categories-carousel("Jewellery", "category_jewellery")
                                +shop-categories-carousel("Jewellery", "category_jewellery")
                .row
                    .col-12.col-xl-3
                        form#form-shopsearch(action='', method='post', enctype='multipart/form-data')
                            .shopsearch
                                input.shopsearch__input(type="search", placeholder="Search in products", aria-label="Search")
                                button.shopsearch__btn(type="submit")
                                    img(src='assets/img/ic-search.svg', width='12', heigh='13')
                            input(type='hidden', name='code', value='')
                            input(type='hidden', name='redirect', value='{{ redirect }}')
                        .shop-menu
                            ul.navbar-nav
                                li.nav-item.active
                                    a.nav-link(href="#")
                                        | Men&nbsp;
                                        span (3,835)
                                li.nav-item.dropdown
                                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        | Women&nbsp;
                                        span (3,835)
                                    .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                                        a.dropdown-item(href="#")
                                            | Clothing&nbsp;
                                            span (2,923)
                                        a.dropdown-item(href="#")
                                            | Beauty&nbsp;
                                            span (1,915)
                                        a.dropdown-item(href="#")
                                            | Shoes&nbsp;
                                            span (289)
                                        a.dropdown-item(href="#")
                                            | Jewellery&nbsp;
                                            span (960)
                                li.nav-item
                                    a.nav-link(href="#")
                                        | Home&nbsp;
                                        span (3,835)
                                li.nav-item
                                    a.nav-link(href="#")
                                        | Sport&nbsp;
                                        span (3,835)
                                li.nav-item.dropdown
                                    a#navbarDropdownMenuLink2.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        | Dropdown link
                                    ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink2')
                                        li
                                            a.dropdown-item(href='#') Action
                                        li
                                            a.dropdown-item(href='#') Another action
                                        li.dropdown-submenu
                                            a.dropdown-item.dropdown-toggle(href='#') Submenu
                                            ul.dropdown-menu
                                                li
                                                    a.dropdown-item(href='#') Submenu action
                                                li
                                                    a.dropdown-item(href='#') Another submenu action
                                                li.dropdown-submenu
                                                    a.dropdown-item.dropdown-toggle(href='#') Subsubmenu
                                                    ul.dropdown-menu
                                                        li
                                                            a.dropdown-item(href='#') Subsubmenu action
                                                        li
                                                            a.dropdown-item(href='#') Another subsubmenu
                                                li.dropdown-submenu
                                                    a.dropdown-item.dropdown-toggle(href='#') Second subsubmenu
                                                    ul.dropdown-menu
                                                        li
                                                            a.dropdown-item(href='#') Subsubmenu action
                                                        li
                                                            a.dropdown-item(href='#') Another subsubmenu action
                        .product-block__item.product-block__item_first.shop-menu_special
                            .product-block__image
                                a(href='#')
                            p.product-block__item-title
                                | Some&nbsp;
                                span special&nbsp;
                                br
                                | proposition
                            .stuff-block__link(href='#') Shop now
                                img.arrow(src='assets/img/arrow-black.svg', width='17', height='9')
                    .col-12.col-xl-9.px-xl-0.mx-xl-0
                        .filters
                            form#form-filters(action='', method='post', enctype='multipart/form-data')
                                .filters-dropdown-block_mobile.d-xl-none.clearfix
                                    select#sort.form-control_select
                                        option Sort by
                                        option Popular
                                        option New
                                        option Low to High
                                        option High to Low
                                    button.filters-dropdown-block__selected_filter-btn(type='button', data-toggle='collapse', data-target='#filterSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                                        i.icon-filter
                                        span Filter
                                        i.icon-filter-ok

                                #filterSupportedContent.filters-dropdown-block
                                    .filters-dropdown-block__title.d-xl-none
                                        button(type='button', aria-label='Close', data-dismiss='modal', data-toggle='collapse', data-target='#filterSupportedContent', aria-expanded='true')
                                            i.icon-close
                                            | Filter
                                        p Reset all filters
                                    .filters-dropdown-block__scrolling-area
                                        .filters-dropdown-block__selected.d-xl-block.d-none
                                            i.icon-sort
                                            span Sort by
                                            i.icon-down
                                            .filters-dropdown-block__dropdown
                                                ul.navbar-nav
                                                    li.nav-item
                                                        .nav-link Popular
                                                    li.nav-item
                                                        .nav-link New
                                                    li.nav-item
                                                        .nav-link Price: Low to High
                                                    li.nav-item
                                                        .nav-link Price: High to Low
                                        .filters-dropdown-block__selected
                                            span Brands
                                            i.icon-down.d-none.d-xl-block
                                            i.icon-forward.d-xl-none
                                            .filters-selected-desc.d-xl-none
                                                ul.filters-selected-desc__list
                                                    li.filters-selected-desc__item Abeer Al Sutwadi
                                                    li.filters-selected-desc__item Alta Moda
                                                    li.filters-selected-desc__item Black Swan
                                                    li.filters-selected-desc__item Couture
                                                    li.filters-selected-desc__item Bysi
                                                    li.filters-selected-desc__item Abeer Al Sutwadi
                                                    li.filters-selected-desc__item Alta Moda
                                                    li.filters-selected-desc__item Black Swan
                                                    li.filters-selected-desc__item Couture
                                                    li.filters-selected-desc__item Bysi
                                            .filters-dropdown-block__dropdown
                                                .filters-dropdown-block__title.d-xl-none
                                                    button
                                                        i.icon-back
                                                        |  Brands
                                                    p Reset all filters
                                                .form-inline
                                                    input#brandsInput.form-control(type="search", onkeyup="searchInBrands()", placeholder="Search in brands", aria-label="Search")
                                                    button.filters__btn(type="submit")
                                                        img(src='assets/img/ic-search.svg', width='12', heigh='13')
                                                #brandsList.filters-dropdown-block__scrolling
                                                    input#barndsCheckbox(type="checkbox")
                                                    label(for="barndsCheckbox") Abeer Al Suwaidi
                                                    input#barndsCheckbox1(type="checkbox")
                                                    label(for="barndsCheckbox1") Alta Moda
                                                    input#barndsCheckbox2(type="checkbox")
                                                    label(for="barndsCheckbox2") ArAm
                                                    input#barndsCheckbox3(type="checkbox")
                                                    label(for="barndsCheckbox3") Black Swan Couture
                                                    input#barndsCheckbox4(type="checkbox")
                                                    label(for="barndsCheckbox4") By Malene Birger
                                                    input#barndsCheckbox5(type="checkbox")
                                                    label(for="barndsCheckbox5") Bysi
                                                    input#barndsCheckbox6(type="checkbox")
                                                    label(for="barndsCheckbox6") Abeer Al Suwaidi
                                                    input#barndsCheckbox7(type="checkbox")
                                                    label(for="barndsCheckbox7") Alta Moda
                                                    input#barndsCheckbox8(type="checkbox")
                                                    label(for="barndsCheckbox8") ArAm
                                                    input#barndsCheckbox9(type="checkbox")
                                                    label(for="barndsCheckbox9") Black Swan Couture
                                                    input#barndsCheckbox10(type="checkbox")
                                                    label(for="barndsCheckbox10") By Malene Birger
                                                    input#barndsCheckbox12(type="checkbox")
                                                    label(for="barndsCheckbox12") Bysi
                                                    input#barndsCheckbox13(type="checkbox")
                                                    label(for="barndsCheckbox13") Bysi
                                                    input#barndsCheckbox14(type="checkbox")
                                                    label(for="barndsCheckbox14") Bysi
                                                    input#barndsCheckbox15(type="checkbox")
                                                    label(for="barndsCheckbox15") Bysi
                                                    input#barndsCheckbox16(type="checkbox")
                                                    label(for="barndsCheckbox16") Bysi
                                                    input#barndsCheckbox17(type="checkbox")
                                                    label(for="barndsCheckbox17") Bysi
                                                    input#barndsCheckbox18(type="checkbox")
                                                    label(for="barndsCheckbox18") Bysi
                                                    input#barndsCheckbox19(type="checkbox")
                                                    label(for="barndsCheckbox19") Bysi
                                                    input#barndsCheckbox20(type="checkbox")
                                                    label(for="barndsCheckbox20") Bysi
                                                    input#barndsCheckbox21(type="checkbox")
                                                    label(for="barndsCheckbox21") exampleSaid
                                        .filters-dropdown-block__selected
                                            span Size
                                            i.icon-down.d-none.d-xl-block
                                            i.icon-forward.d-xl-none
                                            .filters-selected-desc.d-xl-none
                                                ul.filters-selected-desc__list
                                                    li.filters-selected-desc__item EUR 44
                                                    li.filters-selected-desc__item EUR 50
                                            .filters-dropdown-block__dropdown
                                                .filters-dropdown-block__title.d-xl-none
                                                    button
                                                        i.icon-back
                                                        |  Size
                                                    p Reset all filters
                                                ul.nav.nav-tabs
                                                    li
                                                        a(data-toggle="tab", href="#home") US
                                                    li
                                                        a(data-toggle="tab", href="#menu1") UK
                                                    li.active
                                                        a.active(data-toggle="tab", href="#menu2") EUR
                                                    li
                                                        a(data-toggle="tab", href="#menu3") Intl
                                                    li
                                                        a(data-toggle="tab", href="#menu4") IT
                                                .tab-content
                                                    #home.tab-pane.fade
                                                        .filters-dropdown-block__scrolling.filters-dropdown-block__scrolling_rigth
                                                            .filters-dropdown-block__size 11
                                                            .filters-dropdown-block__size 12
                                                            .filters-dropdown-block__size 13
                                                            .filters-dropdown-block__size 14
                                                            .filters-dropdown-block__size 15
                                                            .filters-dropdown-block__size 15
                                                    #menu1.tab-pane.fade
                                                        .filters-dropdown-block__scrolling.filters-dropdown-block__scrolling_rigth
                                                            .filters-dropdown-block__size 20
                                                            .filters-dropdown-block__size 20
                                                            .filters-dropdown-block__size 22
                                                            .filters-dropdown-block__size 23
                                                            .filters-dropdown-block__size 24
                                                            .filters-dropdown-block__size 25
                                                    #menu2.tab-pane.fade.show.active
                                                        .filters-dropdown-block__scrolling.filters-dropdown-block__scrolling_rigth
                                                            .filters-dropdown-block__size 42
                                                            .filters-dropdown-block__size 44
                                                            .filters-dropdown-block__size 46
                                                            .filters-dropdown-block__size 48
                                                            .filters-dropdown-block__size 50
                                                            .filters-dropdown-block__size 52
                                                    #menu3.tab-pane.fade
                                                        .filters-dropdown-block__scrolling.filters-dropdown-block__scrolling_rigth
                                                            .filters-dropdown-block__size 20
                                                            .filters-dropdown-block__size 20
                                                            .filters-dropdown-block__size 22
                                                            .filters-dropdown-block__size 23
                                                            .filters-dropdown-block__size 24
                                                            .filters-dropdown-block__size 25
                                                    #menu4.tab-pane.fade
                                                        .filters-dropdown-block__scrolling.filters-dropdown-block__scrolling_rigth
                                                            .filters-dropdown-block__size 20
                                                            .filters-dropdown-block__size 20
                                                            .filters-dropdown-block__size 22
                                                            .filters-dropdown-block__size 23
                                                            .filters-dropdown-block__size 24
                                                            .filters-dropdown-block__size 25
                                        .filters-dropdown-block__selected
                                            span Colors
                                            i.icon-down.d-none.d-xl-block
                                            i.icon-forward.d-xl-none
                                            .filters-selected-desc.d-xl-none
                                                ul.filters-selected-desc__list
                                                    li.filters-selected-desc__item
                                                        i.icon-color(data-color='golden')
                                                        | Golden
                                                    li.filters-selected-desc__item
                                                        i.icon-color(data-color='red')
                                                        | Red
                                            .filters-dropdown-block__dropdown
                                                .filters-dropdown-block__title.d-xl-none
                                                    button
                                                        i.icon-back
                                                        |  Colors
                                                    p Reset all filters
                                                .form-inline
                                                    input#colorsInput.form-control(type="search", onkeyup="searchInColors()", placeholder="Search in colors", aria-label="Search")
                                                    button.filters__btn(type="submit")
                                                        img(src='assets/img/ic-search.svg', width='12', heigh='13')
                                                #colorsList.filters-dropdown-block__scrolling
                                                    input#colorcheckbox(type="checkbox")
                                                    label.color(for="colorcheckbox", data-color='golden') Golden
                                                    input#colorcheckbox1(type="checkbox")
                                                    label.color(for="colorcheckbox1", data-color='pink') Pink
                                                    input#colorcheckbox2(type="checkbox")
                                                    label.color(for="colorcheckbox2", data-color='brown') Brown
                                                    input#colorcheckbox3(type="checkbox")
                                                    label.color(for="colorcheckbox3", data-color='Red') Red
                                                    input#colorcheckbox4(type="checkbox")
                                                    label.color(for="colorcheckbox4", data-color='Blue') Blue
                                                    input#colorcheckbox5(type="checkbox")
                                                    label.color(for="colorcheckbox5", data-color='Beige') Beige
                                                    input#colorcheckbox6(type="checkbox")
                                                    label.color(for="colorcheckbox6", data-color='White') White
                                                    input#colorcheckbox7(type="checkbox")
                                                    label.color(for="colorcheckbox7", data-color='Velvet') Velvet
                                        .filters-dropdown-block__selected
                                            span Price
                                            i.icon-down.d-none.d-xl-block
                                            i.icon-forward.d-xl-none
                                            .filters-selected-desc.d-xl-none
                                                ul.filters-selected-desc__list
                                                    li.filters-selected-desc__item Highest price:&nbsp;
                                                        span 500&nbsp;
                                                        | SAR
                                                    li.filters-selected-desc__item Only Discounted
                                            .filters-dropdown-block__dropdown
                                                .filters-dropdown-block__title.d-xl-none
                                                    button
                                                        i.icon-back
                                                        |  Price
                                                    p Reset all filters
                                                p.price__desc Select min and max price
                                                .range-controls
                                                    .scale
                                                        #slider-range
                                                    //    .bar(style='margin-left:0px;width:90px;')
                                                    //.toggle.min-toggle
                                                    //.toggle.max-toggle
                                                .price-controls
                                                    label#label-min 0
                                                    span Sar
                                                    label#label-max 2000
                                                input#priceCheckbox(type="checkbox")
                                                label(for="priceCheckbox") Show only discounted
                                        .filters-dropdown-block__selected
                                            span Fabric
                                            i.icon-down.d-none.d-xl-block
                                            i.icon-forward.d-xl-none
                                            .filters-selected-desc.d-xl-none
                                                ul.filters-selected-desc__list
                                                    li.filters-selected-desc__item Cotton
                                            .filters-dropdown-block__dropdown
                                                .filters-dropdown-block__title.d-xl-none
                                                    button
                                                        i.icon-back
                                                        |  Fabric
                                                    p Reset all filters
                                                .filters-dropdown-block__scrolling
                                                    input#fabricCheckbox(type="checkbox")
                                                    label(for="fabricCheckbox") Cotton
                                                    input#fabricCheckbox1(type="checkbox")
                                                    label(for="fabricCheckbox1") Silk
                                                    input#fabricCheckbox2(type="checkbox")
                                                    label(for="fabricCheckbox2") Linen
                                                    input#fabricCheckbox3(type="checkbox")
                                                    label(for="fabricCheckbox3") Wool
                                                    input#fabricCheckbox4(type="checkbox")
                                                    label(for="fabricCheckbox4") Acrylic
                                        .filters-dropdown-block__selected
                                            span Length
                                            i.icon-down.d-none.d-xl-block
                                            i.icon-forward.d-xl-none
                                            .filters-selected-desc.d-xl-none
                                                ul.filters-selected-desc__list
                                                    li.filters-selected-desc__item Mini
                                                    li.filters-selected-desc__item Above knee
                                            .filters-dropdown-block__dropdown
                                                .filters-dropdown-block__title.d-xl-none
                                                    button
                                                        i.icon-back
                                                        |  Length
                                                    p Reset all filters
                                                .filters-dropdown-block__scrolling
                                                    input#lengthCheckbox(type="checkbox")
                                                    label(for="lengthCheckbox") Mini
                                                    input#lengthCheckbox1(type="checkbox")
                                                    label(for="lengthCheckbox1") Above Knee
                                                    input#lengthCheckbox2(type="checkbox")
                                                    label(for="lengthCheckbox2") Knee
                                                    input#lengthCheckbox3(type="checkbox")
                                                    label(for="lengthCheckbox3") Midi
                                                    input#lengthCheckbox4(type="checkbox")
                                                    label(for="lengthCheckbox4") Maxi
                                                    input#lengthCheckbox5(type="checkbox")
                                                    label(for="lengthCheckbox5") Floor Length
                                        .filters-dropdown-block__selected
                                            span Style
                                            i.icon-down.d-none.d-xl-block
                                            i.icon-forward.d-xl-none
                                            .filters-selected-desc.d-xl-none
                                                ul.filters-selected-desc__list
                                                    li.filters-selected-desc__item Brief
                                            .filters-dropdown-block__dropdown
                                                .filters-dropdown-block__title.d-xl-none
                                                    button
                                                        i.icon-back
                                                        |  Style
                                                    p Reset all filters
                                                .filters-dropdown-block__scrolling
                                                    input#styleCheckbox(type="checkbox")
                                                    label(for="styleCheckbox") Brief
                                                    input#styleCheckbox1(type="checkbox")
                                                    label(for="styleCheckbox1") Casual
                                                    input#styleCheckbox2(type="checkbox")
                                                    label(for="styleCheckbox2") Cute
                                                    input#styleCheckbox3(type="checkbox")
                                                    label(for="styleCheckbox3") Novelty
                                                    input#styleCheckbox4(type="checkbox")
                                                    label(for="styleCheckbox4") PreppyStyle
                                    button.filters-dropdown-block__show-results.d-xl-none Show results
                                //.overlay(aria-label='Close', data-dismiss='modal', data-toggle='collapse', data-target='#filterSupportedContent', aria-expanded='true')
                                input(type='hidden', name='code', value='')
                                input(type='hidden', name='redirect', value='{{ redirect }}')
                                .form-group.form-inline.d-none
                                    select#sort.form-control.form-control_select
                                        option Sort by
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                    select#brands.form-control.form-control_select
                                        option Brands
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                    select#size.form-control.form-control_select
                                        option Size
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                    select#color.form-control.form-control_select
                                        option Color
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                                input.d-none(type='submit', name='send', value='send')
                            button.show-all-filters Show all filters
                                i.icon-down
                            .filters-selected
                                ul.filters-selected__list
                                    li#reset-btn.filters-selected__item Reset all filters
                                    li.filters-selected__item Abeer Al Suwadi
                                        i.icon-close
                                    li.filters-selected__item EUR 44
                                        i.icon-close
                                    li.filters-selected__item EUR 44
                                        i.icon-close
                                    li.filters-selected__item EUR 50
                                        i.icon-close
                                    li.filters-selected__item
                                        i.icon-color(data-color='golden')
                                        | Golden
                                        i.icon-close
                                    li.filters-selected__item Lowest price:&nbsp;
                                        span 260&nbsp;
                                        | SAR
                                        i.icon-close
                                    li.filters-selected__item Highest price:&nbsp;
                                        span 500&nbsp;
                                        | SAR
                                        i.icon-close
                                    li.filters-selected__item Cotton
                                        i.icon-close
                                    li.filters-selected__item Mini
                                        i.icon-close
                        .row
                            .col-12
                                h2.product-block__title.product-block__title_smaller New Arrivals
                                a.product-block__all(href='#', target='_blank') See all
                        .row
                            .col-12
                                .product-block.clearfix
                                    .product-block-items.owl-theme
                                        mixin product-block-mixin(imageName)
                                            .product-block__item
                                                .product-block__image
                                                    a(href='#')
                                                        img(src="assets/img/product_images/#{imageName}.jpeg", alt="image_desc", width='', height='')
                                                p.product-block__discount-sum -50%
                                                .product-block-info
                                                    a.product-block-info__link_title(href='#') Pearl in Oyster
                                                    a.product-block-info__link_subtitle(href='#') Blue Lapis Beaded Bracelet with Hand of Fatima
                                                    p.product-block-info__price 363.00&nbsp;
                                                        span AED
                                                    button.product-block-info__btn
                                                        img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                        img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                        +product-block-mixin("1528189163-5831-1080x1200")
                                        +product-block-mixin("1525069412-2584-540x600")
                                        +product-block-mixin("1525380471-672-540x600")
                                        +product-block-mixin("1527609535-6773-540x600")
                                        +product-block-mixin("1527696574-0364-540x600")
                                        +product-block-mixin("1527696618-5484-540x600")
                                        +product-block-mixin("1527697012-7175-540x600")
                                        +product-block-mixin("1527697686-1773-540x600")
                        .row
                            .col-12
                                h2.product-block__title.product-block__title_smaller Selected Products
                                a.product-block__all(href='#', target='_blank') See all
                        .row
                            .col-12
                                .product-block.clearfix
                                    .product-block-items.owl-theme
                                        mixin product-block-mixin(imageName)
                                            .product-block__item
                                                .product-block__image
                                                    a(href='#')
                                                        img(src="assets/img/product_images/#{imageName}.jpg", alt="image_desc", width='', height='')
                                                p.product-block__discount-sum -50%
                                                .product-block-info
                                                    a.product-block-info__link_title(href='#') Hugo Boss
                                                    a.product-block-info__link_subtitle(href='#') Men Boss Bottled Collector's Edition Eau de Toilette - 100ml
                                                    p.product-block-info__price 128.97&nbsp;
                                                        span AED
                                                    button.product-block-info__btn
                                                        img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                        img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                        +product-block-mixin("1494610220-540x600")
                                        +product-block-mixin("1494610220-540x600")
                                        +product-block-mixin("1494610568-540x600")
                                        +product-block-mixin("1500317672-1080x1200")
                                        +product-block-mixin("1508254517-540x600")
                                        +product-block-mixin("1508255338-540x600")
                        .row
                            .col-12
                                h2.product-block__title.product-block__title_smaller Dresses
                                a.product-block__all(href='#', target='_blank') See all
                        .row
                            .col-12
                                .product-block.clearfix
                                    .product-block-items.owl-theme
                                        mixin product-block-mixin(imageName)
                                            .product-block__item
                                                .product-block__image
                                                    a(href='#')
                                                        img(src="assets/img/product_images/#{imageName}.jpeg", alt="image_desc", width='', height='')
                                                p.product-block__discount-sum -50%
                                                .product-block-info
                                                    a.product-block-info__link_title(href='#') Hugo Boss
                                                    a.product-block-info__link_subtitle(href='#') Men Boss Bottled Collector's Edition Eau de Toilette - 100ml
                                                    p.product-block-info__price 128.97&nbsp;
                                                        span AED
                                                    button.product-block-info__btn
                                                        img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                        img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                        +product-block-mixin("1528189163-5831-1080x1200")
                                        +product-block-mixin("1528293184-855-540x600")
                                        +product-block-mixin("1528293218-518-540x600")
                                        +product-block-mixin("1528293250-8642-540x600")
                                        +product-block-mixin("1528293390-3016-540x600")
                                        +product-block-mixin("1528293788-1807-540x600")
                                        +product-block-mixin("1528294045-1631-540x600")
                        .row
                            .col-12
                                h2.product-block__title.product-block__title_smaller Special Watches from Zyros
                                a.product-block__all(href='#', target='_blank') See all
                        .row
                            .col-12
                                .product-block.clearfix
                                    .product-block-items.owl-theme
                                        mixin product-block-mixin(imageName)
                                            .product-block__item
                                                .product-block__image
                                                    a(href='#')
                                                        img(src="assets/img/product_images/#{imageName}.jpeg", alt="image_desc", width='', height='')
                                                p.product-block__discount-sum -50%
                                                .product-block-info
                                                    a.product-block-info__link_title(href='#') Hugo Boss
                                                    a.product-block-info__link_subtitle(href='#') Men Boss Bottled Collector's Edition Eau de Toilette - 100ml
                                                    p.product-block-info__price 128.97&nbsp;
                                                        span AED
                                                    button.product-block-info__btn
                                                        img.product-block-info__btn-icon(src='assets/img/ic-heart-line.svg', width='20', heigh='18')
                                                        img.product-block-info__btn-icon.active(src='assets/img/ic-heart-full.svg', width='20', heigh='18')
                                        +product-block-mixin("1528190617-8999-540x600")
                                        +product-block-mixin("1528190999-2213-540x600")
                                        +product-block-mixin("1517398822-9654-540x600")
                                        +product-block-mixin("1528190617-8999-540x600")
                                        +product-block-mixin("1528190999-2213-540x600")
                                        +product-block-mixin("1517398822-9654-540x600")
            include ./includes/sign-up.jade
            include ./includes/footer.jade

            script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
            script(src='http://code.jquery.com/jquery-1.12.4.js')
            script(src='http://code.jquery.com/ui/1.12.1/jquery-ui.js')
            script(src='/assets/js/owl.carousel.min.js')
            script(src='/assets/js/script.js')
