<script type="text/javascript">

	var isMobile = false; //initiate as false
	var isDesktop = true;

	// device detection
	if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) 
    || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) {

		isMobile = true;
		isDesktop = false;
	}
	
	var uri = location.pathname + location.search;
	var documentReady = false;
	var windowLoad = false;
	var isBodyClicked = false;
	var delay = 500;
	var timeout = 1000;
	var product_id = '<?php echo $product_id ?>';
	var path = '<?php echo $path ?>';
	var route = '<?php echo $route ?>';
	
	$(document).ready(function() {
		documentReady = true;
	});
	
	$(window).load(function() {
		windowLoad = true;
	});

	$.ajax({
		url: '<?php echo $url; ?>',
		type: 'POST',
		data: {'uri' : uri, product_id:product_id, path:path, route:route},
		dataType: 'json',
		success: function (response) {
			for(entry in response) {
				var element = response[entry];

				if(element.show_on_mobile == '0' && isMobile) {
					continue;
				}

				if(element.show_on_desktop == '0' && isDesktop) {
					continue;
				}
		
				if(element.match) {
					repeat = element.repeat;
					popup_id = element.id;

					if(element.delay>0) {
						delay += (element.delay*1000);
					}

					if(element.timeout>0) {
						timeout += (element.timeout*1000);
					} else {
						timeout = false;
					}

					if(element.event == 0) { // Document ready event  		
						if (documentReady) {		
							showSmartNotificationsPopup(element);
						} else {
							$(document).ready(function(){   
								showSmartNotificationsPopup(element);
							});
						}
					}
					
					if(element.event == 1) { // Window load event

						if(windowLoad) {

							showSmartNotificationsPopup(element);
						}
						else {
							$(window).load(function() {
								showSmartNotificationsPopup(element);
							});
						}
					 
					}
				 
					if(element.event == 2) { // Body click event
						$('body').click(function() {
							if(isBodyClicked == false) {
								showSmartNotificationsPopup(element);
								isBodyClicked = true;
							}	
						});
					}
			  	}
			}
		}
	});
	
		var showSmartNotificationsPopup = function (element) {
		var template = element.template;

		setTimeout(function() {
			
			var layout = '<div class="noty_message pop-activity ';

			if (template == 'custom-style') {
            	$("<style type='text/css'> .noty_message.pop-activity.custom-style{ width:" + element.width + "px !important; height:" + element.height + "px !important; background:" + element.hex_code_background + " !important; border-color:" + element.hex_code_border + "!important } .noty_text h3 { color:" +  element.hex_code_title + " !important; } .noty_bar.noty_type_alert, li.animated {width: 0px !important; } </style> ").appendTo("head"); // add the custom style in a new CSS block

	            layout += 'custom-style">';
	        } else {
	            layout += template + '">';
	        }

			if (element.show_icon == 1 && element.icon_type == 'p' ) {
			 	layout += '<div class="icon"><i class="fa ' + element.icon + '"></i></div><div class="noty_text"></div><div class="noty_close">test</div></div>';
			} else if (element.show_icon == 1 && element.icon_type == 'u'){
				layout += '<div class="image"><img src="' + element.icon_image + '"></div><div class="noty_text"></div><div class="noty_close">test</div></div>';
			} else  {
				layout += '<div class="noty_text"></div><div class="noty_close">test</div></div>'
			}

			var n = noty({
                text        : '<h3>' + element.title + '</h3><p>' + element.description + '</p>',
                dismissQueue: true,
                layout      : element.position,
                closeWith   : ['click'],
                theme		: 'smartNotifications',
                timeout 	: timeout,
                template	: layout,
                maxVisible  : 10,
                animation   : {
                    open  : 'animated '+ element.open_animation,
                    close : 'animated '+ element.close_animation,
                    easing: 'swing',
                    speed : 1500
                }
            });							
		}, delay);
		
	};
</script>