@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

/*
SORTABLE PLUGIN STYLING
*/
.sortable-ghost td {
  opacity: 0.4;
  background-color: #BDC3C7;
}

#instaloaderFilesTable tr:hover {
  cursor: all-scroll;
}

#tab-image, #tab-image #images {
  display: none;
}

/* Disable start button for image uploader */
.btn.btn-primary.start {
  display: none;
}

/* Disable cancel upload button */
.btn.btn-warning.cancel {
  display: none;
}

/* Disable checkboxes for image uploader */ 
.fileupload-buttonbar .toggle, .files .toggle, .files .btn span {
  display: none;
}

/* Make place for scrolling on iPad */
/*
#fileupload {
  width: 660px;
  float: left;
}
*/
.fileupload-buttonbar .help-message {
  float: left;
  font-size: 150%;
  color: gray;
  margin-right: 20px;
  margin-top: 10px;
}

.vcenter {
    padding-top: 7%;
    padding-left: 32%;
}

.fileupload-buttonbar {
  border: dashed gray 2px;
  width: 100%;
  margin-left: 0;
}
