<table bgcolor="#f6f6f6" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:20px auto 50px;text-align:left;min-width:600px;">
          <tbody>
            <tr>
              <td style="text-align:center;" valign="top">
              <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" id="Header" style="text-align:left;padding:20px 30px 10px;font-family:Helvetica,Arial,sans-serif !important;font-weight:300 !important;line-height:1.2;-webkit-text-size-adjust: 100%; color:#494949;" width="780">
                <tbody>
                  <tr>
                    <td style="text-align:left;padding:10px 0;" valign="top" width="600">
                      <p style="font-size:25px; margin:0; margin-right:20px;">
                        Hello {firstname} {lastname}
                      </p>
                    </td>
                    <td style="padding:10px 0;" valign="top" width="120">
                      <img alt="Your Store" src="<?php echo $storeURL; ?>image/<?php echo $config_logo;?>" style="height: 19px; width: 100px;" title="Your store" />
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align:left;padding:0 0 20px 0;" valign="top">
                      <span style="font-size:18px;line-height:1.2">
                         <p> We want you to be the first to know about latest products and specials in our store.</p><br />
                        Check out this month's hot offers!
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align:left;">
                      {special_list}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align:left;padding:0 0 20px 0;" valign="top">
                      <span style="font-size:18px;line-height:1.2">
                        We are glad to present you our new products.
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align:left;">
                      {new_product_list}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align:left;padding:0 0 20px 0;" valign="top" >
                      <span style="font-size:18px;line-height:1.2">
                        Check out our bestseller products as well.
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="text-align:left;">
                      {bestseller_list}
                    </td>
                  </tr>
                </tbody>
              </table>
  
              <table bgcolor="#e6e6e6" border="0" cellpadding="0" cellspacing="0" id="SubHeader" style="padding:10px 30px;font-family:Helvetica,Arial,sans-serif !important;font-weight:300 !important;line-height:1.2;-webkit-text-size-adjust: 100%; color:#494949;" width="780">
                <tbody>
                  <tr>
                    <td valign="top">
                      <p style="text-align:left;font-size:12px;margin:0;text-shadow:1px 1px 0 #fff;">
                    
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              </td>
            </tr>
            <tr>
              <td colspan="3">
              <table border="0" cellpadding="20" cellspacing="0" style=" font-family:Helvetica, Arial, sans-serif !important; font-weight:300 !important;font-size:12px; color:#5b7b99; text-shadow:1px 1px 0 #ddeaf6;" width="100%">
                <tbody>
                  <tr>
                    <td>You are recieving this newsletter,<br />
                    because you have an account at <a href="<?php echo $storeURL; ?>" style="text-decoration:none; color:#007fc6; text-shadow:none;"><?php echo $storeURL; ?></a></td>
                    <td align="right" valign="middle"><a href="<?php echo $unsubscribeURL; ?>" style="text-decoration:none; color:#5b7b99;">unsubscribe here</a></td>
                  </tr>
                </tbody>
              </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>