<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-main-group" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-main-group" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab"><?php echo $tab_general; ?></a></li>
            <li><a href="#tab-data" data-toggle="tab"><?php echo $tab_data; ?></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                <?php foreach ($languages as $language) { ?>
                <li><a href="#language<?php echo $language['language_id']; ?>" data-toggle="tab"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a></li>
                <?php } ?>
              </ul>
              <div class="tab-content">
                <?php foreach ($languages as $language) { ?>
                <div class="tab-pane" id="language<?php echo $language['language_id']; ?>">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name<?php echo $language['language_id']; ?>"><?php echo $entry_name; ?></label>
                    <div class="col-sm-10">
                      <input type="text" name="store_category_description[<?php echo $language['language_id']; ?>][name]" value="<?php echo isset($store_category_description[$language['language_id']]) ? $store_category_description[$language['language_id']]['name'] : ''; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name<?php echo $language['language_id']; ?>" class="form-control" />
                      <?php if (isset($error_name[$language['language_id']])) { ?>
                      <div class="text-danger"><?php echo $error_name[$language['language_id']]; ?></div>
                      <?php } ?>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-description<?php echo $language['language_id']; ?>"><?php echo $entry_description; ?></label>
                    <div class="col-sm-10">
                      <textarea name="store_category_description[<?php echo $language['language_id']; ?>][description]" rows="5" placeholder="<?php echo $entry_description; ?>" id="input-meta-description<?php echo $language['language_id']; ?>" class="form-control"><?php echo isset($store_category_description[$language['language_id']]) ? $store_category_description[$language['language_id']]['description'] : ''; ?></textarea>
                    </div>
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta_title<?php echo $language['language_id']; ?>"><?php echo $entry_meta_title; ?></label>
                    <div class="col-sm-10">
                      <input type="text" name="store_category_description[<?php echo $language['language_id']; ?>][meta_title]" value="<?php echo isset($store_category_description[$language['language_id']]) ? $store_category_description[$language['language_id']]['meta_title'] : ''; ?>" placeholder="<?php echo $entry_meta_title; ?>" id="input-meta_title<?php echo $language['language_id']; ?>" class="form-control" />
                      <?php if (isset($error_meta_title[$language['language_id']])) { ?>
                      <div class="text-danger"><?php echo $error_meta_title[$language['language_id']]; ?></div>
                      <?php } ?>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta_keywords<?php echo $language['language_id']; ?>"><?php echo $entry_meta_keywords; ?></label>
                    <div class="col-sm-10">
                      <input type="text" name="store_category_description[<?php echo $language['language_id']; ?>][meta_keywords]" value="<?php echo isset($store_category_description[$language['language_id']]) ? $store_category_description[$language['language_id']]['meta_keywords'] : ''; ?>" placeholder="<?php echo $entry_meta_keywords; ?>" id="input-meta_keywords<?php echo $language['language_id']; ?>" class="form-control" />
                      <?php if (isset($error_meta_keywords[$language['language_id']])) { ?>
                      <div class="text-danger"><?php echo $error_meta_keywords[$language['language_id']]; ?></div>
                      <?php } ?>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta_tag<?php echo $language['language_id']; ?>"><?php echo $entry_meta_tags; ?></label>
                    <div class="col-sm-10">
                      <input type="text" name="store_category_description[<?php echo $language['language_id']; ?>][meta_tag]" value="<?php echo isset($store_category_description[$language['language_id']]) ? $store_category_description[$language['language_id']]['meta_tag'] : ''; ?>" placeholder="<?php echo $entry_meta_tags; ?>" id="input-meta_tag<?php echo $language['language_id']; ?>" class="form-control" />
                      <?php if (isset($error_meta_tag[$language['language_id']])) { ?>
                      <div class="text-danger"><?php echo $error_meta_tag[$language['language_id']]; ?></div>
                      <?php } ?>
                    </div>
                  </div>

                </div>
                <?php } ?>
              </div>
            </div>
            <div class="tab-pane" id="tab-data">

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-sort_order"><?php echo $entry_sort_order; ?></label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="<?php echo $sort_order; ?>" placeholder="<?php echo $entry_sort_order; ?>" id="input-sort_order" class="form-control" />
                  <?php if (isset($error_sort_order)) { ?>
                  <div class="text-danger"><?php echo $error_sort_order ?></div>
                  <?php } ?>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-parent"><?php echo $entry_parent_id; ?></label>
                <div class="col-sm-10">
                  <select name="parent_id" id="input-parent_id" class="form-control">
                    <option value=""><?php echo $text_select;?></option>
                    <?php foreach ($parent_category as $key => $category) { ?>
                    <option value="<?php echo $category['store_category_id'];?>" <?php if (isset($parent_id) && $category['store_category_id'] == $parent_id) { ?>selected<?php } ?>><?php echo $category['name'];?></option>
                    <?php } ?>
                  </select>
                    <?php if (isset($error_parent_id)) { ?>
                      <div class="text-danger"><?php echo $error_parent_id; ?></div>
                      <?php } ?>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-parent"><?php echo $entry_group_id; ?></label>
                <div class="col-sm-10">
                  <select name="group_id" id="input-group_id" class="form-control">
                    <option value=""><?php echo $text_select;?></option>
                    <?php foreach ($groups as $key => $group) { ?>
                    <option value="<?php echo $group['group_id'];?>" <?php if (isset($group_id) && $group['group_id'] == $group_id) { ?>selected<?php } ?>><?php echo $group['name'];?></option>
                    <?php } ?>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    <?php if (isset($status) && $status == 1) { ?>
                    <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                    <option value="0"><?php echo $text_disabled; ?></option>
                    <?php } else { ?>
                    <option value="1"><?php echo $text_enabled; ?></option>
                    <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                    <?php } ?>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div>
<?php echo $footer; ?>
