.container
    footer
        .row
            .col-12.col-xl-2
                .footer-logo
                    a.footer-logo__link(href='#')
                        img.footer-logo__image(src='assets/img/almall-logo.png', srcset='assets/img/almall-logo@2x.png 2x, assets/img/almall-logo@3x.png 3x', width='110', height='22')
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='#') About Us
                    li.nav-item
                        a.nav-link(href='#') Terms & Conditions
                    li.nav-item
                        a.nav-link(href='#') Privacy Policy
                    li.nav-item
                        a.nav-link(href='#') Return & Refund Poli
                    li.nav-item
                        a.nav-link(href='#') Site Map
                    li.nav-item
                        a.nav-link(href='#') Contact Us
            .col-12.col-xl-2.d-xl-block.d-none
                h3.footer__title Shopping
                ul.navbar-nav.navbar-nav__second
                    li.nav-item
                        a.nav-link(href='#') Men
                    li.nav-item
                        a.nav-link(href='#') Women
                    li.nav-item
                        a.nav-link(href='#') Sport
                    li.nav-item
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link(href='#') Brands
                    li.nav-item
                        a.nav-link(href='#') Deals of the Day
                    li.nav-item
                        a.nav-link(href='#') Ramadan Sale
            .col-12.col-xl-4
                h3.footer__title Do you have any questions?
                a.footer__tel(href='tel:8004330033') 8004330033
                p.footer__work-time From Sunday - Thursday 9:00AM - 5:00PM
                .footer-socials
                    h3.footer__title Follow us on:
                    .socials-icons
                        a(href='https://www.facebook.com/', target='_blank')
                            img.social-item.grounded-radiants(src='assets/img/ic-fb.svg', alt="image_desc", width='9', height='18')
                        a(href='https://twitter.com/', target='_blank')
                            img.social-item.grounded-radiants(src='assets/img/ic-twitter.svg', alt="image_desc", width='17', height='14')
                        a(href='https://www.youtube.com/', target='_blank')
                            img.social-item.grounded-radiants(src='assets/img/ic-youtube.svg', alt="image_desc", width='17', height='18')
                        a(href='http://instagram.com/', target='_blank')
                            img.social-item.grounded-radiants(src='assets/img/ic-instagram.svg', alt="image_desc", width='17', height='17')
            .col-12.col-xl-4
                //form.sign-up-form
                //    .form-group
                //        h3.sign-up-form__title
                //        | Sign up to newsletter and get&nbsp;
                //        span 10% discount!
                //        label(for='InputEmail2') Get latest trends, fashion & offers weekly.
                //        input#InputEmail2.form-control(type='email', aria-describedby='emailHelp', placeholder='Your email addres')
                //    button.btn.sign-up-form__btn(type='submit') Male
                //    button.btn.sign-up-form__btn(type='submit') Female
                h3.footer__title Try out our mobile apps
                a.footer__subtitle Click and get started in seconds!
                .clearfix
                a.footer__link(href='#', target='_blank')
                    img.footer__img(src='assets/img/-e-google-play-badge.png', alt="image_desc", width='135', height='40')
                a.footer__link(href='#', target='_blank')
                    img.footer__img(src='assets/img/-e-apple store.png', alt="image_desc", width='135', height='40')
                button#up.footer__up-btn
.footer-rights
    .container
        .row
            .col-12
                h5 2018 Almall All rights reserved