head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no')

    link(rel='stylesheet', href='assets/css/owl.carousel.min.css')
    link(rel='stylesheet', href='assets/css/owl.theme.default.min.css')

    link(rel='stylesheet', href='assets/css/font-awesome.min.css')
    //link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
    //link(rel='stylesheet', href='../node_modules/bootstrap-v4-rtl/dist/css/bootstrap-grid.css')
    //link(rel='stylesheet', href='../node_modules/bootstrap-v4-rtl/dist/css/bootstrap-rtl.css')
    //link(rel='stylesheet', href='assets/css/bootstrap.rtl.css')
    //link(rel='stylesheet', href='assets/css/bootstrap-grid.rtl.css')
    link(rel='stylesheet', href='assets/css/main.css')
    base(href='/')

    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')

    title ALMALL