header
    .header-top-block
        .container
            .row
                .col-xl-8.col-lg-7.col-md-5.col-sm-5.col-4.mr-auto.pl-md-0
                    .header-dropdown-block
                        form#form-country(action='', method='post', enctype='multipart/form-data')
                            .header-dropdown-block__selected
                                img.header-dropdown-block__selected-flag(src='assets/img/UAE.png', alt="image_desc", width='', height='')
                                span UAE
                                .header-dropdown-block__dropdown
                                    ul
                                        li
                                            img(src='assets/img/UAE.png', alt="image_desc", width='', height='')
                                            button.header-dropdown-block__btn(type='button', name='{{ language.code }}') UAE
                                        li
                                            img(src='assets/img/UAE.png', alt="image_desc", width='', height='')
                                            button.header-dropdown-block__btn(type='button', name='{{ language.code }}') ENG
                            input(type='hidden', name='code', value='')
                            input(type='hidden', name='redirect', value='{{ redirect }}')
                    .header-dropdown-block
                        form#form-language(action='', method='post', enctype='multipart/form-data')
                            .header-dropdown-block__selected
                                span العربية
                                //.header-dropdown-block__dropdown
                                //    ul
                                //        li
                                //            button.header-dropdown-block__btn(type='button', name='{{ language.code }}') Arabian
                                //        li
                                //            button.header-dropdown-block__btn(type='button', name='{{ language.code }}') English
                            input(type='hidden', name='code', value='')
                            input(type='hidden', name='redirect', value='{{ redirect }}')
                    ul.navbar-nav.header-top-block__menu-left
                        li.nav-item.header-top-block__item
                            a.nav-link(href='#') free shipping.
                        li.nav-item.header-top-block__item
                            a.nav-link(href='#') free returns.
                        li.nav-item.header-top-block__item
                            a.nav-link(href='#') cash on delivery.
                .col-xl-4.col-lg-5.col-md-6.col-sm-7.col-6.ml-auto.pr-md-0
                    div.float-right
                        .header-dropdown-block
                            #account-block.header-dropdown-block
                                .header-dropdown-block__selected
                                    //i.fa.fa-user(aria-hidden='true')
                                    p Welcome&nbsp;
                                        span Said Ouchnak
                                    .header-dropdown-block__dropdown
                                        ul
                                            li.header-dropdown-block__link
                                                a(href='#') My Profile
                                            li.header-dropdown-block__link
                                                a(href='#') My Settings
                                            li.header-dropdown-block__link
                                                a(href='#') My Orders
                                            li.header-dropdown-block__link
                                                a(href='#') My Preferences
                                            li.header-dropdown-block__link
                                                a(href='#') My Credit
                                            li.header-dropdown-block__link
                                                a(href='#') My Address
                                            li.header-dropdown-block__link
                                                a(href='#') My Book
                                            li.header-dropdown-block__link
                                                a(href='#') My Payment Card
                                            li.header-dropdown-block__link
                                                a(href='#') Log Out
                        a.header-top-block__link(href='#') Sell with us
    .test-row.d-none
        .container
            .row
                .col-4.mr-0.ml-auto
                    .test-row__black
                        h1 test text!!! hello world!
                        h2 مرحبا صديقي العزيز
                .col-4
                    .test-row__red
                        h1 النص الثاني !!! هيلا هيلا
                        h2 كيف حالك
    .container
        .header-topbar
            .container.px-0.mx-0.px-sm-3.mx-sm-auto.px-xl-0.mx-xl-0
                .row
                    .col-4.col-sm-4.col-md-3.col-lg-4.col-xl-2.mx-auto.ml-xl-0.pl-0.order-2.order-xl-1
                        .header-logo
                            a.header-logo__link(href='#')
                                img.header-logo__image(src='assets/img/almall-logo.png', srcset='assets/img/almall-logo@2x.png 2x, assets/img/almall-logo@3x.png 3x' , width='110', height='22')
                    .col-2.col-sm-1.col-md-1.col-lg-1.col-xl-6.mx-xl-auto.order-3.order-xl-2.pr-0.mr-0
                        .search-parent
                            button.search-btn.d-xl-none
                                //i.fa.fa-search(aria-hidden='true')
                                img(src='assets/img/ic-search.svg', width='20', height='18')
                            .header-dropdown-block.header-dropdown-block_search
                                form#form-search(action='', method='post', enctype='multipart/form-data')
                                    .header-dropdown-block__selected.d-none.d-xl-block
                                        span Women
                                        .header-dropdown-block__dropdown
                                            ul
                                                li
                                                    button.header-dropdown-block__btn(type='button', name='{{ language.code }}') Men
                                                li
                                                    button.header-dropdown-block__btn(type='button', name='{{ language.code }}') Women
                                                li
                                                    button.header-dropdown-block__btn(type='button', name='{{ language.code }}') Sport
                                                li
                                                    button.header-dropdown-block__btn(type='button', name='{{ language.code }}') Home
                                                li
                                                    button.header-dropdown-block__btn(type='button', name='{{ language.code }}') Brands
                                    select.header-dropdown-block__selected.d-xl-none
                                        option Women
                                        option Men
                                        option Women
                                        option Sport
                                        option Home
                                        option Brands
                                    input(type='hidden', name='code', value='')
                                    input(type='hidden', name='redirect', value='{{ redirect }}')
                                input#searchFormControlInput.form-control(type='text', placeholder='I’m shopping for...')
                                button.header-dropdown-block_search-btn
                                    //i.fa.fa-search(aria-hidden='true')
                                    img(src='assets/img/ic-search.svg', width='20', height='18')
                    .col-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.mr-xl-0.pr-xl-0.order-4.order-xl-3.px-0.mx-0.mr-3
                        .header-cart-button
                            button.cart-btn
                                a.header-cart-button_btn(href='{{ cart }}', data-count='1')
                                    img(src='assets/img/ic-shopping-bag.svg', width='19', height='18')
                    .col-2.col-sm-3.col-md-1.col-lg-3.col-xl-12.ml-0.mx-xl-auto.mr-auto.px-xl-0.order-1.order-xl-4
                        .menu-header-block
                            nav.navbar.navbar-expand-xl
                                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                                    span.navbar-toggler-icon
                                        //i.fa.fa-bars(aria-hidden='true')
                                        img(src='assets/img/ic-menu.svg', width='20', height='18')
                                #navbarSupportedContent.collapse.navbar-collapse
                                    .header-logo-parent
                                        .header-logo
                                            a.header-logo__link(href='#')
                                                img.header-logo__image(src='assets/img/almall-logo.png', srcset='assets/img/almall-logo@2x.png 2x, assets/img/almall-logo@3x.png 3x' , width='110', height='22')
                                        button.close(type='button', aria-label='Close', data-dismiss='modal', data-toggle='collapse', data-target='#navbarSupportedContent', aria-expanded='true')
                                    .navbar-nav-scrolling
                                        ul.navbar-nav
                                            li.nav-item.d-xl-none
                                                a.nav-link.nav-link-back(href='#')
                                                    i.icon-back.d-none
                                                    | Categories
                                            li.nav-item
                                                a.nav-link(href='#') Men
                                                    i.icon-forward.d-xl-none
                                                .menu-header-block__dropdown
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title-back.d-xl-none
                                                            i.icon-back.d-none
                                                            | Men
                                                        h2.menu-header-block__title Accessories
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Body Piercing
                                                                li.nav-item
                                                                    a.nav-link(href='#') Earrings
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other Accessories
                                                                li.nav-item
                                                                    a.nav-link(href='#') Lenses
                                                                li.nav-item
                                                                    a.nav-link(href='#') belt
                                                                li.nav-item
                                                                    a.nav-link(href='#') Key rings & Chains
                                                                li.nav-item
                                                                    a.nav-link(href='#') Scarves
                                                                li.nav-item
                                                                    a.nav-link(href='#') Hair Accessories
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Shoes
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Pumps
                                                                li.nav-item
                                                                    a.nav-link(href='#') Sandals
                                                                li.nav-item
                                                                    a.nav-link(href='#') Flat Shoes
                                                                li.nav-item
                                                                    a.nav-link(href='#') Sneakers
                                                                li.nav-item
                                                                    a.nav-link(href='#') Boots
                                                                li.nav-item
                                                                    a.nav-link(href='#') Flip Flops
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Bags
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Handbags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Crossbody
                                                                li.nav-item
                                                                    a.nav-link(href='#') Luggage
                                                                li.nav-item
                                                                    a.nav-link(href='#') Backpacks
                                                                li.nav-item
                                                                    a.nav-link(href='#') Wallets and Purses
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other Bags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Bath and body
                                                                li.nav-item
                                                                    a.nav-link(href='#') Tote Bags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Clutch Bags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Laptop Bags
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Grooming
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Skin Care
                                                                li.nav-item
                                                                    a.nav-link(href='#') Hair Care
                                                                li.nav-item
                                                                    a.nav-link(href='#') Sets
                                                                li.nav-item
                                                                    a.nav-link(href='#') Shave
                                                                li.nav-item
                                                                    a.nav-link(href='#') Bath and Body
                                                                li.nav-item
                                                                    a.nav-link(href='#') all body
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Clothing
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Abayas
                                                                li.nav-item
                                                                    a.nav-link(href='#') Dresses
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Jewellery
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Necklaces
                                                                li.nav-item
                                                                    a.nav-link(href='#') Bracelets
                                                                li.nav-item
                                                                    a.nav-link(href='#') Earrings
                                                                li.nav-item
                                                                    a.nav-link(href='#') Rings
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other jewellery
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Watches
                                                        .menu-header-block__column.menu-header-block__column_short
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') View all
                                                        h2.menu-header-block__title Perfume
                                                        .menu-header-block__column.menu-header-block__column_short
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') View all
                                                        h2.menu-header-block__title Sunglasses
                                                        .menu-header-block__column.menu-header-block__column_short
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') View all
                                                    .menu-header-block__column-parent.mr-0
                                                        h2.menu-header-block__title Top Offers
                                                        .stuff-block.stuff-block-menu.flex-column
                                                            .stuff-block__item.mr-0
                                                                h4.stuff-block__title Sport collection
                                                                a.stuff-block__link(href='#') Shop now
                                                                    img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                                                img.stuff-block__image(src='assets/img/arrivals-1.jpg', alt="image_desc", width='', height='')
                                                            .stuff-block__item.mr-0
                                                                h4.stuff-block__title Trendy Watches
                                                                p.stuff-block__subtitle For him
                                                                a.stuff-block__link(href='#') Shop now
                                                                    img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                                                img.stuff-block__image(src='assets/img/arrivals-2.jpg', alt="image_desc", width='', height='')
                                                    .clearfix
                                                    .menu-header-block__column-parent.mb-0
                                                        h2.menu-header-block__title Top Brands
                                                        .menu-header-block-brands
                                                            mixin menu-header-block-mixin(imageName)
                                                                .menu-header-block-brands__item
                                                                    a.menu-header-block-brands__link(href='#')
                                                                        img.menu-header-block-brands__image(src="assets/img/#{imageName}.png", alt="image_desc", width='', height='')
                                                            +menu-header-block-mixin("brand1")
                                                            +menu-header-block-mixin("brand2")
                                                            +menu-header-block-mixin("brand3")
                                                            +menu-header-block-mixin("brand4")
                                                            +menu-header-block-mixin("brand5")

                                            li.nav-item
                                                a.nav-link(href='/women') Women
                                                    i.icon-forward.d-xl-none
                                                .menu-header-block__dropdown
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title-back.d-xl-none
                                                            i.icon-back.d-none
                                                            | Women
                                                        h2.menu-header-block__title Clothing
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Abayas
                                                                li.nav-item
                                                                    a.nav-link(href='#') Dresses
                                                                li.nav-item
                                                                    a.nav-link(href='#') Tops
                                                                li.nav-item
                                                                    a.nav-link(href='#') Skirts
                                                                li.nav-item
                                                                    a.nav-link(href='#') Pants
                                                                li.nav-item
                                                                    a.nav-link(href='#') Jackets and Coats
                                                                li.nav-item
                                                                    a.nav-link(href='#') Evening Gowns
                                                                li.nav-item
                                                                    a.nav-link(href='#') Kaftans
                                                                li.nav-item
                                                                    a.nav-link(href='#') Maternity Clothing
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Jumpsuits
                                                                li.nav-item
                                                                    a.nav-link(href='#') Beachwear
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other Clothing
                                                                li.nav-item
                                                                    a.nav-link(href='#') Lingerie & Sleerwear
                                                                li.nav-item
                                                                    a.nav-link(href='#') Hijab Clothing
                                                                li.nav-item
                                                                    a.nav-link(href='#') Jackets and Coats
                                                                li.nav-item
                                                                    a.nav-link(href='#') Sportswear
                                                                li.nav-item
                                                                    a.nav-link(href='#') Kaftans
                                                                li.nav-item
                                                                    a.nav-link(href='#') Wedding Dresses
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Beauty
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Make Up
                                                                li.nav-item
                                                                    a.nav-link(href='#') Skin Care
                                                                li.nav-item
                                                                    a.nav-link(href='#') Nails
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other Beauty
                                                                li.nav-item
                                                                    a.nav-link(href='#') Hair Care
                                                                li.nav-item
                                                                    a.nav-link(href='#') Devices
                                                                li.nav-item
                                                                    a.nav-link(href='#') Bath and body
                                                                li.nav-item
                                                                    a.nav-link(href='#') Beauty Sets
                                                                li.nav-item
                                                                    a.nav-link(href='#') Cosmetic Cases
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Shoes
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Pumps
                                                                li.nav-item
                                                                    a.nav-link(href='#') Sandals
                                                                li.nav-item
                                                                    a.nav-link(href='#') Flat Shoes
                                                                li.nav-item
                                                                    a.nav-link(href='#') Sneakers
                                                                li.nav-item
                                                                    a.nav-link(href='#') Boots
                                                                li.nav-item
                                                                    a.nav-link(href='#') Flip Flops
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Jewellery
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Necklaces
                                                                li.nav-item
                                                                    a.nav-link(href='#') Bracelets
                                                                li.nav-item
                                                                    a.nav-link(href='#') Earrings
                                                                li.nav-item
                                                                    a.nav-link(href='#') Rings
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other jewellery
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Bags
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Handbags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Crossbody
                                                                li.nav-item
                                                                    a.nav-link(href='#') Luggage
                                                                li.nav-item
                                                                    a.nav-link(href='#') Backpacks
                                                                li.nav-item
                                                                    a.nav-link(href='#') Wallets and Purses
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other Bags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Bath and body
                                                                li.nav-item
                                                                    a.nav-link(href='#') Tote Bags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Clutch Bags
                                                                li.nav-item
                                                                    a.nav-link(href='#') Laptop Bags
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Accessories
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Body Piercing
                                                                li.nav-item
                                                                    a.nav-link(href='#') Earrings
                                                                li.nav-item
                                                                    a.nav-link(href='#') Other Accessories
                                                                li.nav-item
                                                                    a.nav-link(href='#') Lenses
                                                                li.nav-item
                                                                    a.nav-link(href='#') belt
                                                                li.nav-item
                                                                    a.nav-link(href='#') Key rings & Chains
                                                                li.nav-item
                                                                    a.nav-link(href='#') Scarves
                                                                li.nav-item
                                                                    a.nav-link(href='#') Hair Accessories
                                                    .menu-header-block__column-parent.mr-0
                                                        h2.menu-header-block__title Watches
                                                        .menu-header-block__column.menu-header-block__column_short
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') View all
                                                        h2.menu-header-block__title Perfume
                                                        .menu-header-block__column.menu-header-block__column_short
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') View all
                                                        h2.menu-header-block__title Sunglasses
                                                        .menu-header-block__column.menu-header-block__column_short
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') View all
                                                    .clearfix
                                                    .menu-header-block__column-parent.mb-0
                                                        h2.menu-header-block__title Top Brands
                                                        .menu-header-block-brands
                                                            mixin menu-header-block-mixin(imageName)
                                                                .menu-header-block-brands__item
                                                                    a.menu-header-block-brands__link(href='#')
                                                                        img.menu-header-block-brands__image(src="assets/img/#{imageName}.png", alt="image_desc", width='', height='')
                                                            +menu-header-block-mixin("brand1")
                                                            +menu-header-block-mixin("brand2")
                                                            +menu-header-block-mixin("brand3")
                                                            +menu-header-block-mixin("brand4")
                                                    .menu-header-block__column-parent.mb-0
                                                        h2.menu-header-block__title Top Offers
                                                        .stuff-block.stuff-block-menu.flex-row.mb-0
                                                            .stuff-block__item.mb-0
                                                                h4.stuff-block__title Sport collection
                                                                a.stuff-block__link(href='#') Shop now
                                                                    img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                                                img.stuff-block__image(src='assets/img/arrivals-1.jpg', alt="image_desc", width='', height='')
                                                            .stuff-block__item.mb-0
                                                                h4.stuff-block__title Trendy Watches
                                                                p.stuff-block__subtitle For him
                                                                a.stuff-block__link(href='#') Shop now
                                                                    img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                                                img.stuff-block__image(src='assets/img/arrivals-2.jpg', alt="image_desc", width='', height='')
                                            li.nav-item
                                                a.nav-link(href='#') Sport
                                                    i.icon-forward.d-xl-none
                                                .menu-header-block__dropdown
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title-back.d-xl-none
                                                            i.icon-back.d-none
                                                            | Sport
                                                        h2.menu-header-block__title Men
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Clothing
                                                                li.nav-item
                                                                    a.nav-link(href='#') Shoes
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Women
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') Clothing
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Accessories
                                                        .menu-header-block__column
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') View all
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Top Offers
                                                        .stuff-block.stuff-block-menu.flex-column
                                                            .stuff-block__item
                                                                h4.stuff-block__title Sport collection
                                                                a.stuff-block__link(href='#') Shop now
                                                                    img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                                                img.stuff-block__image(src='assets/img/arrivals-1.jpg', alt="image_desc", width='', height='')
                                                            .stuff-block__item
                                                                h4.stuff-block__title Trendy Watches
                                                                p.stuff-block__subtitle For him
                                                                a.stuff-block__link(href='#') Shop now
                                                                    img.arrow(src='assets/img/arrow.svg', alt='image_desc', width='17', height='9')
                                                                img.stuff-block__image(src='assets/img/arrivals-2.jpg', alt="image_desc", width='', height='')
                                                    .menu-header-block__column-parent
                                                        h2.menu-header-block__title Top Brands
                                                        .menu-header-block-brands.flex-column
                                                            mixin menu-header-block-mixin(imageName)
                                                                .menu-header-block-brands__item
                                                                    a.menu-header-block-brands__link(href='#')
                                                                        img.menu-header-block-brands__image(src="assets/img/#{imageName}.png", alt="image_desc", width='', height='')
                                                            +menu-header-block-mixin("brand1")
                                                            +menu-header-block-mixin("brand2")
                                                            +menu-header-block-mixin("brand3")
                                                            +menu-header-block-mixin("brand4")
                                                            +menu-header-block-mixin("brand5")
                                            li.nav-item
                                                a.nav-link(href='#') Home
                                            li.nav-item.nav-item-bold.nav-item-hot
                                                a.nav-link(href='#', data-sale='Hot') Deal of the day
                                        .header-dropdown-block
                                            #account-block.header-dropdown-block
                                                .header-dropdown-block__selected
                                                    p Sign In / Sign Up
                                        .header-dropdown-block
                                            #account-block.header-dropdown-block
                                                .header-dropdown-block__selected
                                                    p Welcome&nbsp;
                                                        span Said Ouchnak
                                                    i.icon-forward
                                                    .menu-header-block__dropdown
                                                        .menu-header-block__column-parent
                                                            h2.menu-header-block__title-back Welcome Said Ouchnak
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Profile
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Settings
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Orders
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Preferences
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Credit
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Address
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Book
                                                                li.nav-item
                                                                    a.nav-link(href='#') My Payment Card
                                                                li.nav-item
                                                                    a.nav-link(href='#') Log Out
                                        .header-dropdown-block
                                            form#form-country(action='', method='post', enctype='multipart/form-data')
                                                .header-dropdown-block__selected
                                                    img.header-dropdown-block__selected-flag(src='assets/img/UAE.png', alt="image_desc", width='', height='')
                                                    span UAE
                                                    i.icon-forward
                                                    .header-dropdown-block__dropdown
                                                        .menu-header-block__column-parent
                                                            h2.menu-header-block__title-back Language
                                                            ul.navbar-nav
                                                                li.nav-item
                                                                    a.nav-link(href='#')
                                                                        img(src='assets/img/UAE.png', alt="image_desc", width='', height='')
                                                                        button.header-dropdown-block__btn(type='button', name='{{ language.code }}') UAE
                                                                li.nav-item
                                                                    a.nav-link(href='#')
                                                                        img(src='assets/img/UAE.png', alt="image_desc", width='', height='')
                                                                        button.header-dropdown-block__btn(type='button', name='{{ language.code }}') ENG
                                                input(type='hidden', name='code', value='')
                                                input(type='hidden', name='redirect', value='{{ redirect }}')
                                        .header-dropdown-block
                                            form#form-language2(action='', method='post', enctype='multipart/form-data')
                                                .header-dropdown-block__selected
                                                    span العربية
                                                input(type='hidden', name='code', value='')
                                                input(type='hidden', name='redirect', value='{{ redirect }}')
                                        a.header-top-block__link(href='#') Sell with us
                                    ul.navbar-nav.header-top-block__menu-left
                                        li.nav-item.header-top-block__item
                                            a.nav-link(href='#') free shipping.
                                        li.nav-item.header-top-block__item
                                            a.nav-link(href='#') free returns.
                                        li.nav-item.header-top-block__item
                                            a.nav-link(href='#') cash on delivery.
                            div.overlay(aria-label='Close', data-dismiss='modal', data-toggle='collapse', data-target='#navbarSupportedContent', aria-expanded='true')