.sign-up
    .container
        .row
            .col-12.col-md-6
                form.sign-up-form
                    .form-group
                        h3.sign-up-form__title Sign up to newsletter
                            br
                            | and get&nbsp;
                            span 10% discount!
                        label(for='InputEmail1') Get latest trends, fashion & offers weekly.
                        input#InputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Your email addres')
                    button.btn.sign-up-form__btn(type='submit') Male
                    button.btn.sign-up-form__btn(type='submit') Female
            .col-md-6.d-md-block.d-none
                img.sign-up__image(src='assets/img/sign_up_image.png', alt="image_desc", width='380', height='452')
.adv-block-parent
    .container
        .row
            .col-6.col-xl-3
                .adv-block.adv-block-1
                    h3.adv-block__title 100%
                    p.adv-block__subtitle Genuine!
            .col-6.col-xl-3
                .adv-block.adv-block-2
                    h3.adv-block__title Cash
                    p.adv-block__subtitle on delivery
            .col-6.col-xl-3
                .adv-block.adv-block-3
                    h3.adv-block__title 14 days
                    p.adv-block__subtitle free exchange
            .col-6.col-xl-3
                .adv-block.adv-block-4
                    h3.adv-block__title free
                    p.adv-block__subtitle delivery!