<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-order-status" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-order-status" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label"><?php echo $entry_name; ?></label>
            <div class="col-sm-10">
              <?php foreach ($languages as $language) { ?>
              <div class="input-group"><span class="input-group-addon"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /></span>
                <input type="text" name="order_status[<?php echo $language['language_id']; ?>][name]" value="<?php echo isset($order_status[$language['language_id']]) ? $order_status[$language['language_id']]['name'] : ''; ?>" placeholder="<?php echo $entry_name; ?>" class="form-control" />
              </div>
              <?php if (isset($error_name[$language['language_id']])) { ?>
              <div class="text-danger"><?php echo $error_name[$language['language_id']]; ?></div>
              <?php } ?>
              <?php } ?>
            </div>
          </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-attention_time"><?php echo $entry_attention_time; ?></label>
              <div class="col-sm-10">
                <input type="text" name="attention_time" value="<?php echo $attention_time; ?>" placeholder="<?php echo $entry_attention_time; ?>" id="input-attention_time" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-warning_time"><?php echo $entry_warning_time; ?></label>
              <div class="col-sm-10">
                <input type="text" name="warning_time" value="<?php echo $warning_time; ?>" placeholder="<?php echo $entry_warning_time; ?>" id="input-warning_time" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-quantity"><?php echo $entry_quantity; ?></label>
              <div class="col-sm-10">
                <select name="quantity" id="input-quantity" class="form-control">
                  <?php if ($quantity == 'add') { ?>
                  <option value="add" selected="selected"><?php echo $text_add; ?></option>
                  <option value="subtract"><?php echo $text_subtract; ?></option>
                  <option value="purge"><?php echo $text_purge; ?></option>
                  <?php } elseif($quantity == 'subtract') { ?>
                  <option value="add"><?php echo $text_add; ?></option>
                  <option value="subtract" selected="selected"><?php echo $text_subtract; ?></option>
                  <option value="purge"><?php echo $text_purge; ?></option>
                  <?php } else { ?>
                  <option value="add"><?php echo $text_add; ?></option>
                  <option value="subtract"><?php echo $text_subtract; ?></option>
                  <option value="purge"  selected="selected"><?php echo $text_purge; ?></option>
                  <?php } ?>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-stock"><?php echo $entry_stock; ?></label>
              <div class="col-sm-10">
                <select name="stock" id="input-stock" class="form-control">
                  <?php if ($stock == 'in') { ?>
                  <option value="in" selected="selected"><?php echo $text_in; ?></option>
                  <option value="out"><?php echo $text_out; ?></option>
                  <?php } else { ?>
                  <option value="in"><?php echo $text_in; ?></option>
                  <option value="out" selected="selected"><?php echo $text_out; ?></option>
                  <?php } ?>
                </select>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<?php echo $footer; ?>