<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-cod" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <?php if ($error_warning) { ?>
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
            </div>
            <div class="panel-body">
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-cod" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="<?php echo $help_total; ?>"><?php echo $entry_total; ?></span></label>
                        <div class="col-sm-10">
                            <input type="text" name="cod_total" value="<?php echo $cod_total; ?>" placeholder="<?php echo $entry_total; ?>" id="input-total" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-max-total"><span data-toggle="tooltip" title="<?php echo $help_total; ?>"><?php echo $entry_max_total; ?></span></label>
                        <div class="col-sm-10">
                            <input type="text" name="cod_max_total" value="<?php echo $cod_max_total; ?>" placeholder="<?php echo $entry_max_total; ?>" id="input-max-total" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-max-total-184"><span data-toggle="tooltip" title="<?php echo $help_total; ?>"><?php echo $entry_max_total_184; ?></span></label>
                        <div class="col-sm-10">
                            <input type="text" name="cod_max_total_184" value="<?php echo $cod_max_total_184; ?>" placeholder="<?php echo $entry_max_total_184; ?>" id="input-max-total-184" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-max-total-221"><span data-toggle="tooltip" title="<?php echo $help_total; ?>"><?php echo $entry_max_total_221; ?></span></label>
                        <div class="col-sm-10">
                            <input type="text" name="cod_max_total_221" value="<?php echo $cod_max_total_221; ?>" placeholder="<?php echo $entry_max_total_221; ?>" id="input-max-total-221" class="form-control" />
                        </div>
                    </div>
                    <?php foreach($available_countries as $key => $country){?>
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="input-cod-amount-<?php echo $country['country_id']?>"><span data-toggle="tooltip" title="<?php echo $help_total; ?>"><?php echo $country['curcode'] . $entry_cod_amount; ?></span></label>
                          <div class="col-sm-4">
                              <input type="text" name="cod_amount_<?php echo $country['country_id']?>" value="<?php echo ${'cod_amount_'.$country['country_id']}; ?>" placeholder="<?php echo $country['curcode'] . $entry_cod_amount; ?>" id="input-cod-amount-<?php echo $country['country_id']?>" class="form-control" />
                          </div>
                          <label class="col-sm-2 control-label" for="input-cod-limit-<?php echo $country['country_id']?>"><span data-toggle="tooltip" title="<?php echo $help_total; ?>"><?php echo $country['curcode'] . $entry_cod_limit; ?></span></label>
                          <div class="col-sm-4">
                              <input type="text" name="cod_limit_<?php echo $country['country_id']?>" value="<?php echo ${'cod_limit_'.$country['country_id']}; ?>" placeholder="<?php echo $country['curcode'] . $entry_cod_limit; ?>" id="input-cod-limit-<?php echo $country['country_id']?>" class="form-control" />
                          </div>
                      </div>
                    <?php } ?>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-order-status"><?php echo $entry_order_status; ?></label>
                        <div class="col-sm-10">
                            <select name="cod_order_status_id" id="input-order-status" class="form-control">
                                <?php foreach ($order_statuses as $order_status) { ?>
                                    <?php if ($order_status['order_status_id'] == $cod_order_status_id) { ?>
                                        <option value="<?php echo $order_status['order_status_id']; ?>" selected="selected"><?php echo $order_status['name']; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $order_status['order_status_id']; ?>"><?php echo $order_status['name']; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-geo-zone"><?php echo $entry_geo_zone; ?></label>
                        <div class="col-sm-10">
                            <select name="cod_geo_zone_id" id="input-geo-zone" class="form-control">
                                <option value="0"><?php echo $text_all_zones; ?></option>
                                <?php foreach ($geo_zones as $geo_zone) { ?>
                                    <?php if ($geo_zone['geo_zone_id'] == $cod_geo_zone_id) { ?>
                                        <option value="<?php echo $geo_zone['geo_zone_id']; ?>" selected="selected"><?php echo $geo_zone['name']; ?></option>
                                    <?php } else { ?>
                                        <option value="<?php echo $geo_zone['geo_zone_id']; ?>"><?php echo $geo_zone['name']; ?></option>
                                    <?php } ?>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
                        <div class="col-sm-10">
                            <select name="cod_status" id="input-status" class="form-control">
                                <?php if ($cod_status) { ?>
                                    <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                                    <option value="0"><?php echo $text_disabled; ?></option>
                                <?php } else { ?>
                                    <option value="1"><?php echo $text_enabled; ?></option>
                                    <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order"><?php echo $entry_sort_order; ?></label>
                        <div class="col-sm-10">
                            <input type="text" name="cod_sort_order" value="<?php echo $cod_sort_order; ?>" placeholder="<?php echo $entry_sort_order; ?>" id="input-sort-order" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<?php echo $footer; ?>
