<div class="tile">
  <div class="tile-heading">
    <?php echo $heading_title; ?>
  </div>
  <div class="tile-body"><i class="fa fa-shopping-cart"></i>
    <h2 class="pull-right"><?php echo $total; ?></h2>
  </div>
  <div class="tile-footer"><a href="<?php echo $returns; ?>"><?php echo $text_view; ?></a></div>
</div>
