.navigation nav[aria-label="breadcrumb"] .breadcrumb{border: none !important;}
.navigation nav[aria-label="breadcrumb"] .breadcrumb > li{padding: 0 !important;}
.navigation nav[aria-label="breadcrumb"] .breadcrumb > li:after{content: none;}
footer a:hover{color: #ff6900 !important;}
.filters-dropdown-block{overflow: unset !important;}
.filters-dropdown-block{height: auto !important;}
.breadcrumb-item.active a{color: #6c757d !important;}
footer{background-color: unset !important;}
.contry_flex_a{display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
footer .navbar-nav{margin-bottom: 2rem !important;}
footer .nav-item:last-child .nav-link{padding-bottom: 0 !important;}
@media (max-width:1200px){
	.ov-f-x-hide{overflow-x: hidden;}
}