<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?php echo $subject; ?></title>
</head>
<body>
<?php echo $email_header ?>
<div class="content">
	<?php echo html_entity_decode($message, ENT_QUOTES, 'UTF-8'); ?>
</div>
<?php echo $email_footer ?>
</body>
</html>
